In [1]:
import numpy as np
import pandas as pd
import pickle
from collections import OrderedDict
import sqlalchemy
import psycopg2

In [2]:
Age_Gender_subId = pd.read_csv('Age_Gender_subId.csv')
Age_Gender_subId

      subject_id  hadm_id  age  SUBJECT_ID GENDER
0              3   145834   76           3      M
1              9   150750   41           9      M
2             21   109451   87          21      M
3             38   185910   76          38      M
4             52   190797   39          52      M
...          ...      ...  ...         ...    ...
9168       99982   112748   66       99982      M
9169       99982   183791   66       99982      M
9170       99983   117390   79       99983      M
9171       99991   151118   47       99991      M
9172       99992   197084   66       99992      F

[9173 rows x 5 columns]

In [3]:
%load_ext sql
%sql mysql://root:112928@localhost/mimic
%sql use mimic

 * mysql://root:***@localhost/mimic
0 rows affected.

[]

[226754,227009,227010,227456,226981,226982,220644,220587,220546 ,226779,226780,227062,227063,225170 , 227457,226369,227071,225643,220615, 226752, 227005,226751,
 225624,227000,227001,226368,227070,220228,220545,226540,226761,226762,227017,227466,227465,227467,227036,227038,
 227039,226770,224719,223762,226773,226774,227050,227051,220210,220052,220045,226763,226764,227018,227019,220621,227015,227469,220245,220602,
 220955,220645, 226534,226775,226776,226260,227059,227519,220050]

In [5]:
# 吸入气中的氧浓度分数（fraction of inspiration O2）[226754,227009,227010]
FiO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%fraction%' OR LABEL LIKE '%fio2%') AND DBSOURCE='metavision'
# 白蛋白血清（ALB）、[227456,226981,226982]
ALB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Albumin%' OR LABEL LIKE 'ALB') AND DBSOURCE='metavision'
# 丙氨酸氨基转移酶（ALT）[220644]
ALT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Alanine'  OR LABEL LIKE '%ALT%') AND DBSOURCE='metavision'
# 天冬氨酸氨基转移酶（AST）[220587]
AST= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Aspartate' OR LABEL LIKE '%Aspartic%' OR LABEL LIKE '%AST%') AND DBSOURCE='metavision'
# 白细胞（WBC）、[220546 ,226779,226780,227062,227063],
WBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%WBC%') AND DBSOURCE='metavision'
# 血小板计数（PLT）、[225170 , 227457,226369,227071]
PLT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLT%' OR LABEL LIKE '%BPC%' ) AND DBSOURCE='metavision'
# # 中性粒细胞（NEUT）、[225643]
# NEUT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Neutrophil%'  OR LABEL LIKE '%NEUT%') AND DBSOURCE='metavision'

# # 淋巴细胞（LY）、[没找到合适的]
# LY= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lymphocyte%'  OR LABEL LIKE '%LY%' ) AND DBSOURCE='metavision'

# 血清总胆红素（TBIL）、[225690]
# TBIL= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%total%' OR LABEL LIKE '%TBIL%' OR LABEL LIKE '%TBLL%' OR LABEL LIKE '%STB%') AND DBSOURCE='metavision'
# # 血清肌酐（SCr）、肌酸酐 Creatinine [220615]  ['creatinine'] = [220615, 226752, 227005，226751，],
SCr= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Serum%' OR LABEL LIKE '%Creatinine%' OR LABEL LIKE '%SCr%') AND DBSOURCE='metavision'
# 血尿素氮（BUN）、[225624,227000,227001]
BUN= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%BUN%') AND DBSOURCE='metavision'

# # 红细胞（RBC）、[226368,227070]
RBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%RBC%' OR LABEL LIKE '%erythrocyte%' ) AND DBSOURCE='metavision'

# 血红蛋白（HBG）、[220228]  ['haemoglobin'] = [220228]
HGB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Hemoglobin%'  OR LABEL LIKE '%HGB%') AND DBSOURCE='metavision'
# # 血细胞比容（HCT）、[220545,226540,226761,226762,227017]
HCT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Hematocrit%'  OR LABEL LIKE '%HCT%') AND DBSOURCE='metavision'

# 部分凝血活酶时间（PTT）、[227466]
PTT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PTT%') AND DBSOURCE='metavision'
# 凝血酶原时间（PT）、 [227465]
PT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Prothrombin%'  OR LABEL LIKE '%PT%') AND DBSOURCE='metavision'
# 国际标准化比值 （INR）、[227467]
INR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%international%'  OR LABEL LIKE '%INR%') AND DBSOURCE='metavision'

# # 中性粒细胞/淋巴细胞比值 （NLR）、
# NLR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%neutrophil%'  OR LABEL LIKE '%NLR%') AND DBSOURCE='metavision'

# # 血小板（PLR）Platelets、[225170 227457,226369,227071]
# PLR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLR%') AND DBSOURCE='metavision'
# PCO2、[227036]   ['pco2'] = [227036,227038] ,/
# 动脉血二氧化碳分压 [227036]
PCO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PaCO2%'  OR LABEL LIKE '%PCO2%') AND DBSOURCE='metavision'
# PO2、[227039,226770] 
PO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PO2%') AND DBSOURCE='metavision'
# 动脉血氧饱和度 [224719]
SaO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%SaO2%') AND DBSOURCE='metavision'
# 体温、[223762]
Temp= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%temperature%' OR LABEL LIKE '%T%') AND DBSOURCE='metavision'
# 呼吸速率RR、
# [226773,226774,227050,227051,220210]
RR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Breathe %' OR LABEL LIKE '%Respiration%' OR LABEL LIKE 'RR%'OR LABEL LIKE 'Respiratory%') AND DBSOURCE='metavision'

# # 平均动脉血压 （MEANBP）、[220052,]
MEANBP= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mean blood pressure %' OR LABEL LIKE '%blood%' OR LABEL LIKE 'MBP%') AND DBSOURCE='metavision'

# 心率、[220045,226763,226764,227018,227019] [220045,226763,226764,227018,227019],/
HR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%heart%' OR LABEL LIKE '%HR%') AND DBSOURCE='metavision'
# 葡萄糖GLU、[220621,227015]
GLU = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Glucose%' OR LABEL LIKE '%GLU%') AND DBSOURCE='metavision'
# 凝血酶THR， [227469]
THR = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Thrombus %' OR LABEL LIKE '%thrombi%') AND DBSOURCE='metavision'
# # 舒张压 （DIASBP），[226851,226853]
# DIASBP = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%diastolic pressure%' OR LABEL LIKE '%DIASBP%' OR LABEL LIKE 'DP%'OR LABEL LIKE 'DBP%') AND DBSOURCE='metavision'
# CO2，[220245]
CO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%carbon dioxide %' OR LABEL LIKE '%CO2%') AND DBSOURCE='metavision'
# 氯化物（CL），[220602,]
CL = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%chlorid%' OR LABEL LIKE '%CL%') AND DBSOURCE='metavision'

# 乳酸，Ringers Lactate,[220955]
LA = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lactate%') AND DBSOURCE='metavision'

# 钠 Sodium ，[220645,226775,226776,227052,227053,228389,228390]  [220645, 226534,226776],/
Na = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Natrium%' OR LABEL LIKE '%Na%' OR LABEL LIKE '%Sodium%') AND DBSOURCE='metavision'

# # 浆细胞，
# Plasmocyte  = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Plasmocyte%' OR LABEL LIKE '%myeloma%' OR LABEL LIKE '%phlogocyte%') AND DBSOURCE='metavision'

#尿量 [227059,227519]
urine =%sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%urine%') AND DBSOURCE='metavision'

# # 机械通气（MV），[226260]
MV = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mechanical%' OR LABEL LIKE 'MV') AND DBSOURCE='metavision'

 * mysql://root:***@localhost/mimic
6 rows affected.
 * mysql://root:***@localhost/mimic
8 rows affected.
 * mysql://root:***@localhost/mimic
10 rows affected.
 * mysql://root:***@localhost/mimic
38 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
19 rows affected.
 * mysql://root:***@localhost/mimic
3 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
76 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.
 * mysql://root:***@localhost/mimic
2176 rows affected.
 * mysql://root:***@localhost/mimic
14 rows affected.
 * mysql://root:***@localhost/mimic
35 rows affected.
 * mysql://root:***@localhost/mimic
87 rows affected.
 * mysql://root:***@localhost/mimic
17 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
9 rows affected.
 * mysql://root:***@localhost/mimic
150 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
175 rows affected.
 * mysql://root:***@localhost/mimic
12 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.

In [6]:
sub_limit=1000  ## size of random sample

通过上述过程，我们识别出以下对应于所需变量的ITEMIDS:
一些ITEMIDS可能不经常在数据库中使用——我们选择它们是为了完整性。
排尿量可能位于charteevents或outputeevents(我们都检查)。
作为单一列表，这是(220739,223900,223901，....， 228151)for CHARTEVENTS。
和(226566,226627,226631)为OUTPUTEVENTS(只输出尿液)。
提取的数据
找到相关itemid后，我们现在:
从icustay的更大的随机样本中计算它们的使用频率
定义截止频率
提取并保存其余变量的所有测量值
我们计算有多少icustay对每个ITEM至少有一个测量，并将其转换为出现频率(FREQ)。
这一次，我们同时计算所有itemid，并按照出现频率升序对结果进行排序。CHARTEVENTS:

In [7]:
%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (226754,227009,227010,220210, 224688, 224689, 224690,226770,227039,220224,227516,220235,227036,226063,226062,223761, 223762, 224027,220045,\
220050,220640, 227464, 227442, 226772, 226535,220645, 226534, 226776,224826, 226759, 227443,220227, 220277, 226860,226861,226862,226863,226865,228232,\
225624,227000,227001,223838, 224832, 224391, 227810,223837, 224829,220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112,\
220615, 226752, 227005,226751,223791, 227881,227519, 227059,220228,220339, 224699, 224700,220052,226773,226774,227050,227051,220210,\
224719,220545,226540,226761,226762,227017,226368,227070,227456,226981,226982,220644,220587,220546,226779,226780,227062,227063,\
225170,227457,226369,227071,225643,225690,227466,227465,227467,220621,227015,227469,226851,226853,220245,220602,220955,226260) \
GROUP BY D.ITEMID \
ORDER BY FREQ

 * mysql://root:***@localhost/mimic
68 rows affected.

[(226759, 'HCO3ApacheIIValue', 1, Decimal('0.0010')),
 (226780, 'WBCApacheIIValue', 1, Decimal('0.0010')),
 (226761, 'HematocritApacheIIScore', 1, Decimal('0.0010')),
 (226751, 'CreatinineApacheIIScore', 1, Decimal('0.0010')),
 (226762, 'HematocritApacheIIValue', 1, Decimal('0.0010')),
 (226752, 'CreatinineApacheIIValue', 1, Decimal('0.0010')),
 (226772, 'PotassiumApacheIIValue', 1, Decimal('0.0010')),
 (226755, 'GcsApacheIIScore', 1, Decimal('0.0010')),
 (226773, 'RrApacheIIScore', 1, Decimal('0.0010')),
 (226756, 'GCSEyeApacheIIValue', 1, Decimal('0.0010')),
 (226774, 'RRApacheIIValue', 1, Decimal('0.0010')),
 (226757, 'GCSMotorApacheIIValue', 1, Decimal('0.0010')),
 (226776, 'SodiumApacheIIValue', 1, Decimal('0.0010')),
 (226758, 'GCSVerbalApacheIIValue', 1, Decimal('0.0010')),
 (226779, 'WbcApacheIIScore', 1, Decimal('0.0010')),
 (227469, 'Thrombin', 3, Decimal('0.0030')),
 (228232, 'PAR-Oxygen saturation', 18, Decimal('0.0180')),
 (223762, 'Temperature Celsius', 32, Decimal('0.0320')),
 (224829, 'Trach Tube Type', 41, Decimal('0.0410')),
 (227516, 'PO2 (Mixed Venous)', 44, Decimal('0.0440')),
 (226540, 'Hematocrit (whole blood - calc)', 105, Decimal('0.1050')),
 (227810, 'ETT Re-taped', 106, Decimal('0.1060')),
 (226062, 'Venous CO2 Pressure', 110, Decimal('0.1100')),
 (226063, 'Venous O2 Pressure', 110, Decimal('0.1100')),
 (226534, 'Sodium (whole blood)', 136, Decimal('0.1360')),
 (224391, 'ETT Mark (location)', 142, Decimal('0.1420')),
 (220227, 'Arterial O2 Saturation', 166, Decimal('0.1660')),
 (227464, 'Potassium (whole blood)', 195, Decimal('0.1950')),
 (224700, 'Total PEEP Level', 217, Decimal('0.2170')),
 (220050, 'Arterial Blood Pressure systolic', 282, Decimal('0.2820')),
 (220052, 'Arterial Blood Pressure mean', 293, Decimal('0.2930')),
 (223838, 'ETT Location', 301, Decimal('0.3010')),
 (223837, 'ETT Size (ID)', 301, Decimal('0.3010')),
 (224832, 'ETT Type', 302, Decimal('0.3020')),
 (224688, 'Respiratory Rate (Set)', 314, Decimal('0.3140')),
 (224690, 'Respiratory Rate (Total)', 343, Decimal('0.3430')),
 (224689, 'Respiratory Rate (spontaneous)', 352, Decimal('0.3520')),
 (220339, 'PEEP set', 357, Decimal('0.3570')),
 (220235, 'Arterial CO2 Pressure', 428, Decimal('0.4280')),
 (220224, 'Arterial O2 pressure', 428, Decimal('0.4280')),
 (227456, 'Albumin', 436, Decimal('0.4360')),
 (225643, 'Differential-Neuts', 444, Decimal('0.4440')),
 (220644, 'ALT', 515, Decimal('0.5150')),
 (220587, 'AST', 515, Decimal('0.5150')),
 (225690, 'Total Bilirubin', 517, Decimal('0.5170')),
 (227466, 'PTT', 797, Decimal('0.7970')),
 (227467, 'INR', 800, Decimal('0.8000')),
 (227465, 'Prothrombin time', 800, Decimal('0.8000')),
 (223791, 'Pain Level', 894, Decimal('0.8940')),
 (220621, 'Glucose (serum)', 957, Decimal('0.9570')),
 (220546, 'WBC', 957, Decimal('0.9570')),
 (227457, 'Platelet Count', 957, Decimal('0.9570')),
 (220228, 'Hemoglobin', 957, Decimal('0.9570')),
 (227443, 'HCO3 (serum)', 959, Decimal('0.9590')),
 (225624, 'BUN', 959, Decimal('0.9590')),
 (220615, 'Creatinine', 959, Decimal('0.9590')),
 (227442, 'Potassium (serum)', 960, Decimal('0.9600')),
 (220645, 'Sodium (serum)', 960, Decimal('0.9600')),
 (220545, 'Hematocrit (serum)', 960, Decimal('0.9600')),
 (220602, 'Chloride (serum)', 960, Decimal('0.9600')),
 (224027, 'Skin Temperature', 978, Decimal('0.9780')),
 (223761, 'Temperature Fahrenheit', 982, Decimal('0.9820')),
 (223900, 'GCS - Verbal Response', 983, Decimal('0.9830')),
 (223901, 'GCS - Motor Response', 983, Decimal('0.9830')),
 (220277, 'O2 saturation pulseoxymetry', 984, Decimal('0.9840')),
 (220739, 'GCS - Eye Opening', 984, Decimal('0.9840')),
 (220045, 'Heart Rate', 985, Decimal('0.9850')),
 (220210, 'Respiratory Rate', 985, Decimal('0.9850'))]

In [8]:
freqs=%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (226754,227009,227010,220210, 224688, 224689, 224690,226770,227039,220224,227516,220235,227036,226063,226062,223761, 223762, 224027,220045,\
220050,220640, 227464, 227442, 226772, 226535,220645, 226534, 226776,224826, 226759, 227443,220227, 220277, 226860,226861,226862,226863,226865,228232,\
225624,227000,227001,223838, 224832, 224391, 227810,223837, 224829,220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112,\
220615, 226752, 227005,226751,223791, 227881,227519, 227059,220228,220339, 224699, 224700,220052,226773,226774,227050,227051,220210,\
224719,220545,226540,226761,226762,227017,226368,227070,227456,226981,226982,220644,220587,220546,226779,226780,227062,227063,\
225170,227457,226369,227071,225643,225690,227466,227465,227467,220621,227015,227469,226851,226853,220245,220602,220955,226260) \
GROUP BY D.ITEMID \
ORDER BY FREQ

 * mysql://root:***@localhost/mimic
68 rows affected.

In [9]:
freqs=freqs.DataFrame()
rows = freqs.iloc[0:4]
print(rows)

   ITEMID                  LABEL  STAY_COUNT    FREQ
0  227015       Glucose_ApacheIV           1  0.0010
1  220245         CO2 production           1  0.0010
2  227017    Hematocrit_ApacheIV           1  0.0010
3  227519  Urine output_ApacheIV           1  0.0010

In [10]:
# 一个都不删除

ITEMIDS = freqs[freqs['FREQ']>=0.00001]['ITEMID']  ## cutoff = 0.01  切掉  cutoff = 0.001  切掉
# print(ITEMIDS)
ITEMIDS_TOREMOVE = freqs[freqs['FREQ']<=0.00001]['ITEMID']  ## remove these from variable mapping #从变量映射中删除这些参数
print(ITEMIDS_TOREMOVE)

Series([], Name: ITEMID, dtype: int64)

# 吸入气中的氧浓度分数（fraction of inspiration O2）[226754,227009,227010]
FiO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%fraction%' OR LABEL LIKE '%fio2%') AND DBSOURCE='metavision'
# 白蛋白血清（ALB）、[227456,226981,226982]
ALB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Albumin%' OR LABEL LIKE 'ALB') AND DBSOURCE='metavision'
# 丙氨酸氨基转移酶（ALT）[220644]
ALT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Alanine'  OR LABEL LIKE '%ALT%') AND DBSOURCE='metavision'
# 天冬氨酸氨基转移酶（AST）[220587]
AST= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Aspartate' OR LABEL LIKE '%Aspartic%' OR LABEL LIKE '%AST%') AND DBSOURCE='metavision'
# 白细胞（WBC）、[220546 ,226779,226780,227062,227063],
WBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%WBC%') AND DBSOURCE='metavision'
# 血小板计数（PLT）、[225170 , 227457,226369,227071]
PLT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLT%' OR LABEL LIKE '%BPC%' ) AND DBSOURCE='metavision'
# # 血清肌酐（SCr）、肌酸酐 Creatinine [220615]  ['creatinine'] = [220615, 226752, 227005，226751，],
SCr= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Serum%' OR LABEL LIKE '%Creatinine%' OR LABEL LIKE '%SCr%') AND DBSOURCE='metavision'
# 血尿素氮（BUN）、[225624,227000,227001]
BUN= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%BUN%') AND DBSOURCE='metavision'
# # 红细胞（RBC）、[226368,227070]
RBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%RBC%' OR LABEL LIKE '%erythrocyte%' ) AND DBSOURCE='metavision'
# 血红蛋白（HBG）、[220228]  ['haemoglobin'] = [220228]
HGB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Hemoglobin%'  OR LABEL LIKE '%HGB%') AND DBSOURCE='metavision'
# # 血细胞比容（HCT）、[220545,226540,226761,226762,227017]
HCT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Hematocrit%'  OR LABEL LIKE '%HCT%') AND DBSOURCE='metavision'
# 部分凝血活酶时间（PTT）、[227466]
PTT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PTT%') AND DBSOURCE='metavision'
# 凝血酶原时间（PT）、 [227465]
PT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Prothrombin%'  OR LABEL LIKE '%PT%') AND DBSOURCE='metavision'
# 国际标准化比值 （INR）、[227467]
INR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%international%'  OR LABEL LIKE '%INR%') AND DBSOURCE='metavision'
# 动脉血二氧化碳分压 [227036]
PCO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PaCO2%'  OR LABEL LIKE '%PCO2%') AND DBSOURCE='metavision'
# PO2、[227039,226770] 
PO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PO2%') AND DBSOURCE='metavision'
# 动脉血氧饱和度 [224719]
SaO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%SaO2%') AND DBSOURCE='metavision'
# 体温、[223762]
Temp= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%temperature%' OR LABEL LIKE '%T%') AND DBSOURCE='metavision'
# 呼吸速率RR、
# [226773,226774,227050,227051,220210]
RR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Breathe %' OR LABEL LIKE '%Respiration%' OR LABEL LIKE 'RR%'OR LABEL LIKE 'Respiratory%') AND DBSOURCE='metavision'
# # 平均动脉血压 （MEANBP）、[220052,]
MEANBP= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mean blood pressure %' OR LABEL LIKE '%blood%' OR LABEL LIKE 'MBP%') AND DBSOURCE='metavision'
# 心率、[220045,226763,226764,227018,227019] [220045,/
HR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%heart%' OR LABEL LIKE '%HR%') AND DBSOURCE='metavision'
# 葡萄糖GLU、[220621,227015]
GLU = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Glucose%' OR LABEL LIKE '%GLU%') AND DBSOURCE='metavision'
# 凝血酶THR， [227469]
THR = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Thrombus %' OR LABEL LIKE '%thrombi%') AND DBSOURCE='metavision'
# CO2，[220245]
CO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%carbon dioxide %' OR LABEL LIKE '%CO2%') AND DBSOURCE='metavision'
# 氯化物（CL），[220602,]
CL = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%chlorid%' OR LABEL LIKE '%CL%') AND DBSOURCE='metavision'
# 乳酸，Ringers Lactate,[220955]
LA = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lactate%') AND DBSOURCE='metavision'
# 钠 Sodium ，[220645,226775,226776,227052,227053,228389,228390]  [220645, 226534,226776],/
Na = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Natrium%' OR LABEL LIKE '%Na%' OR LABEL LIKE '%Sodium%') AND DBSOURCE='metavision'
# # 机械通气（MV），[226260]
MV = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mechanical%' OR LABEL LIKE 'MV') AND DBSOURCE='metavision'

In [11]:
#变量映射
variable_mapping = dict()
variable_mapping['FiO2'] = [226754,227009,227010]
variable_mapping['resp'] = [220210, 224688, 224689, 224690]
variable_mapping['po2'] = [226770,227039,220224,227516]
variable_mapping['pco2'] = [220235,227036,226063,226062]
variable_mapping['temp'] = [223761, 223762, 224027]
variable_mapping['hr'] = [220045]
# variable_mapping['BP'] = [220050, 220059, 220179, 224167, 225309, 227243, 226850, 226852]
variable_mapping['ABP'] = [220050] # 动脉收缩压
variable_mapping['K'] = [220640, 227464, 227442, 226772, 226535]
variable_mapping['Na'] = [220645, 226534, 226776]
variable_mapping['hco3'] = [224826, 226759, 227443]
variable_mapping['spo2'] = [220227, 220277, 226860,226861,226862,226863,226865,228232]
variable_mapping['BUN'] = [225624,227000,227001]
variable_mapping['airway'] = [223838, 224832, 224391, 227810,223837, 224829]
variable_mapping['gcs'] = [220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112]
variable_mapping['creatinine'] = [220615, 226752, 227005,226751]
variable_mapping['pain'] = [223791, 227881]
variable_mapping['Urine'] = [227519, 227059]
variable_mapping['Hemoglobin'] = [220228]
variable_mapping['peep'] = [220339, 224699, 224700]


variable_mapping['MEANBP'] = [220052]
variable_mapping['RR'] = [226773,226774,227050,227051,220210]
variable_mapping['SaO2'] = [224719]
variable_mapping['HCT']=[220545,226540,226761,226762,227017]
variable_mapping['RBC'] = [226368,227070]
variable_mapping['ALB'] = [227456,226981,226982]
variable_mapping['ALT'] = [220644]
variable_mapping['AST'] = [220587]            
variable_mapping['WBC'] = [220546,226779,226780,227062,227063]  
variable_mapping['PLT'] = [225170,227457,226369,227071]
variable_mapping['NEUT'] = [225643]
variable_mapping['TBIL'] = [225690]                    
variable_mapping['PTT'] = [227466]
variable_mapping['PT'] = [227465]
variable_mapping['INR'] = [227467]                    
variable_mapping['GLU'] = [220621,227015]
variable_mapping['THR'] = [227469]
variable_mapping['DIASBP'] = [226851,226853]
variable_mapping['CO2'] = [220245]
variable_mapping['CL'] = [220602]
variable_mapping['Lac'] = [220955]
variable_mapping['MV'] = [226260]

226754,227009,227010,220210, 224688, 224689, 224690,226770,227039,220224,227516,220235,227036,226063,226062,223761, 223762, 224027,220045,
220050,220640, 227464, 227442, 226772, 226535,220645, 226534, 226776,224826, 226759, 227443,220227, 220277, 226860,226861,226862,226863,226865,228232,
225624,227000,227001,223838, 224832, 224391, 227810,223837, 224829,220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112,
220615, 226752, 227005,226751,223791, 227881,227519, 227059,220228,220339, 224699, 224700,220052,226773,226774,227050,227051,220210,
224719,220545,226540,226761,226762,227017,226368,227070,227456,226981,226982,220644,220587,220546,226779,226780,227062,227063,
225170,227457,226369,227071,225643,225690,227466,227465,227467,220621,227015,227469,226851,226853,220245,220602,220955,226260

In [12]:
for var in variable_mapping:
        variable_mapping[var] = [itd for itd in variable_mapping[var] if itd not in ITEMIDS_TOREMOVE]
print (variable_mapping)

{'FiO2': [226754, 227009, 227010], 'resp': [220210, 224688, 224689, 224690], 'po2': [226770, 227039, 220224, 227516], 'pco2': [220235, 227036, 226063, 226062], 'temp': [223761, 223762, 224027], 'hr': [220045], 'ABP': [220050], 'K': [220640, 227464, 227442, 226772, 226535], 'Na': [220645, 226534, 226776], 'hco3': [224826, 226759, 227443], 'spo2': [220227, 220277, 226860, 226861, 226862, 226863, 226865, 228232], 'BUN': [225624, 227000, 227001], 'airway': [223838, 224832, 224391, 227810, 223837, 224829], 'gcs': [220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014, 228112], 'creatinine': [220615, 226752, 227005, 226751], 'pain': [223791, 227881], 'Urine': [227519, 227059], 'Hemoglobin': [220228], 'peep': [220339, 224699, 224700], 'MEANBP': [220052], 'RR': [226773, 226774, 227050, 227051, 220210], 'SaO2': [224719], 'HCT': [220545, 226540, 226761, 226762, 227017], 'RBC': [226368, 227070], 'ALB': [227456, 226981, 226982], 'ALT': [220644], 'AST': [220587], 'WBC': [220546, 226779, 226780, 227062, 227063], 'PLT': [225170, 227457, 226369, 227071], 'NEUT': [225643], 'TBIL': [225690], 'PTT': [227466], 'PT': [227465], 'INR': [227467], 'GLU': [220621, 227015], 'THR': [227469], 'DIASBP': [226851, 226853], 'CO2': [220245], 'CL': [220602], 'Lac': [220955], 'MV': [226260]}

In [13]:
for var in variable_mapping:
        variable_mapping[var] = [itd for itd in variable_mapping[var] if itd in ITEMIDS_TOREMOVE]
print (variable_mapping)

{'FiO2': [], 'resp': [], 'po2': [], 'pco2': [], 'temp': [], 'hr': [], 'ABP': [], 'K': [], 'Na': [], 'hco3': [], 'spo2': [], 'BUN': [], 'airway': [], 'gcs': [], 'creatinine': [], 'pain': [], 'Urine': [], 'Hemoglobin': [], 'peep': [], 'MEANBP': [], 'RR': [], 'SaO2': [], 'HCT': [], 'RBC': [], 'ALB': [], 'ALT': [], 'AST': [], 'WBC': [], 'PLT': [], 'NEUT': [], 'TBIL': [], 'PTT': [], 'PT': [], 'INR': [], 'GLU': [], 'THR': [], 'DIASBP': [], 'CO2': [], 'CL': [], 'Lac': [], 'MV': []}

In [14]:
import MySQLdb
import MySQLdb.cursors
from contextlib import closing
import shutil

In [15]:
def sql_connect():
    db='MIMIC'
    user='root'
    password='112928'

    connection = MySQLdb.connect(host="localhost",
                     user=user,
                     passwd=password,
                     db=db,
                     unix_socket="/run/mysqld/mysqld.sock",
                     cursorclass = MySQLdb.cursors.SSCursor)
    return connection

In [16]:
conn = sql_connect()
with closing(conn.cursor()) as cur:
    cur.execute('SELECT * FROM D_ITEMS WHERE LABEL LIKE "%urine%" AND DBSOURCE="metavision"')
    row = cur.fetchone()
    print(row)
conn.close()

(12710, 220799, 'ZSpecific Gravity (urine)', 'ZSpecific gravity (urine)', 'metavision', 'chartevents', 'Labs', 'None', 'Numeric', None)

In [17]:
list_of_ids = ITEMIDS
format_strings = ','.join(['%s'] * len(list_of_ids))
print(format_strings,len(list_of_ids))

%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s 68

In [43]:
with closing(sql_connect()) as conn:
    df = pd.read_sql_query(con=conn,
    sql="SELECT DISTINCT(ICUSTAY_ID) FROM ICUSTAYS WHERE DBSOURCE='metavision' AND (FIRST_CAREUNIT='MICU' OR FIRST_CAREUNIT='SICU')"
    ,chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk=[c[i] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
    df_1 = pd.concat(chunk).reset_index(drop=True)  # 进行 chunksize 返回值的转换 成 DataFrame，结束
    print(len(df_1))
    icustays = df_1 ['ICUSTAY_ID']
    # icustays = list(df['ICUSTAY_ID'])
    print ("There are %d icustays in MICU and SICU under metavision." %len(icustays))

14595
There are 14595 icustays in MICU and SICU under metavision.

In [44]:
# 试图保存数据to_pickle，用的时候在导入pd.read_pickle
icustays=pd.DataFrame(icustays)
icustays.to_pickle('icustays')
list_of_ids.to_pickle('list_of_ids')

In [18]:
icustays=pd.read_pickle('icustays')
# 将读取的DataFrame 数据 转换成 list
icustays_array= np.array(icustays.stack())
icustays =icustays_array.tolist()
# 将列表中的数据 转换成 字符串
icustays=[str(i) for i in icustays]
# 加入 sql 语句中（取消[]）
icustays=','.join(icustays)
# 最后形式 '228232,223762,225309,227516,224829'

list_of_ids=pd.read_pickle('list_of_ids')
list_of_ids=list(list_of_ids)
# 将列表中的数据 转换成 字符串
list_of_ids=[str(i) for i in list_of_ids]
# 加入 sql 语句中（取消[]）
list_of_ids=','.join(list_of_ids)

In [19]:
list_of_ids

'226758,226779,226759,226780,226751,226761,226752,226762,226754,226772,226755,226773,226756,226774,226757,226776,227469,227881,228232,223762,224829,227516,226540,227810,226062,226063,226534,224391,220227,227464,224700,224832,223837,223838,220050,224688,220052,224690,224689,220339,220235,220224,227456,225643,220644,220587,225690,227466,227467,227465,223791,220546,227457,220228,220621,220645,227442,220545,225624,227443,220602,220615,224027,223761,220277,223900,223901,220739,220045,220210'

In [58]:
list_of_ids

'226758,226779,226759,226780,226751,226761,226752,226762,226754,226772,226755,226773,226756,226774,226757,226776,227469,227881,228232,223762,224829,227516,226540,227810,226062,226063,226534,224391,220227,227464,224700,224832,223837,223838,220050,224688,220052,224690,224689,220339,220235,220224,227456,225643,220644,220587,225690,227466,227467,227465,223791,220546,227457,220228,220621,220645,227442,220545,225624,227443,220602,220615,224027,223761,220277,223900,223901,220739,220045,220210'

In [51]:
icustays

'234044,241249,291697,252542,264253,253139,243978,257358,262652,236124,257134,237552,284204,222630,274518,261180,256504,291270,241296,243532,249219,246183,240251,232807,286860,242589,299251,254406,287547,249202,256064,201272,247247,297851,213646,284015,246866,292343,256144,269035,282599,263882,246725,217232,235292,279422,252268,231758,261109,299666,268296,209737,225925,247428,248569,220843,281431,262832,262119,270525,298103,230340,250288,245192,286123,204721,287079,239862,282458,274222,298509,207646,203601,286445,251636,257174,240470,241570,226105,292077,230156,266120,297131,237466,210481,214830,248434,221620,240888,247635,200566,212644,257944,209734,222647,244320,263049,244588,226178,207018,213225,222561,227339,210530,215795,241433,297310,205806,280292,250915,282467,268437,291718,230621,237096,236241,215359,276865,270372,219295,202913,202887,259196,255367,203223,290252,233204,207975,210597,215412,245136,291444,248507,250455,218998,284295,231498,256422,268091,298039,231477,264032,276791,291094,241576,250541,278380,200972,291249,276514,215353,258203,227032,218645,262270,252411,261790,203079,232618,224739,263576,240625,217239,224237,217080,263868,203643,242043,207085,288257,211292,207046,228706,205405,292528,235618,270075,278829,225102,238507,221274,202786,253555,231874,283598,266774,267217,247942,294754,251958,282820,222789,241087,260358,255606,287912,217179,245240,284853,210335,278643,271227,289820,291203,257401,201080,261616,284027,246535,200563,246827,218906,231151,224407,210843,211792,278047,251368,269170,202587,288131,228000,238824,261751,252714,231024,249543,269443,204540,268135,258438,295592,267132,272703,253504,263614,259464,255229,271389,269427,223379,230906,225650,203240,285641,266154,292192,272340,200746,284833,244193,232843,295430,280951,264776,224504,241891,229175,209897,250390,257530,233852,208183,220687,222183,223568,238135,244842,293734,209473,287556,240535,244615,282781,281803,294641,204366,233163,258968,273958,293174,282330,277167,251732,219030,292918,296807,256198,225481,210613,264140,202614,263247,274239,299704,254976,249161,280618,289541,222399,206044,217918,203874,296867,251288,286941,262439,245988,271609,232017,233085,223038,250203,203401,245162,284442,202641,253543,256799,200603,280169,200806,229232,239708,236585,215525,262526,261963,274754,278876,235962,271218,290748,285828,269193,214491,250729,219221,225368,228584,268293,251689,209240,274698,233827,243663,232705,283370,267000,267978,293730,238742,260154,250768,220719,249358,201296,253410,209779,206201,221490,231010,271998,212507,246385,231434,284452,214863,203017,269637,294460,200457,245754,295500,297368,263349,223536,252923,297262,204490,210672,246944,278662,277286,248306,265310,282019,203317,257082,241832,239336,255902,202724,274670,211119,279186,222419,292306,287968,278599,216972,246598,235664,297446,258897,246348,227430,286609,214926,243726,242311,289861,293546,213665,200203,277962,256436,237253,229913,202838,258934,278070,297080,242973,238757,265693,284575,208809,288743,286816,213791,234196,280210,248392,298105,248095,254572,225449,260214,206726,248517,234855,214786,213867,250889,227908,233116,289258,210863,278422,233194,234095,247302,231470,201791,241036,212822,226082,291140,243947,201695,227133,266023,246517,296186,281025,265339,298815,249536,203723,216108,296480,244305,296719,270503,250345,276611,205099,284356,225777,240857,252050,282142,211727,214991,274086,248699,277631,262620,242814,275578,248813,265627,230998,217996,289711,227304,256387,248327,245402,242538,280701,294032,208756,208164,252005,210562,240660,272235,293295,250775,237045,288739,223132,241115,263795,268722,218266,212321,297023,283569,297992,219618,289038,233366,201975,261926,232099,243100,201116,203427,286163,239310,205618,204502,234490,267100,294856,283131,266331,289582,274245,235615,217920,272144,248996,201977,261703,244378,269213,278243,274128,209853,217407,215098,284784,253818,219711,228758,282172,278350,258986,232242,249769,215903,276105,293631,228320,207962,204900,295754,243979,287920,261605,223771,216701,279507,215663,236766,235397,250919,263955,279575,205199,294193,260189,256373,281417,256332,230891,295476,297577,249797,228144,200740,242323,295583,240974,264918,267968,223012,231152,232921,257314,230834,223103,274416,230410,255607,244634,295066,210075,235589,299133,291641,287685,274851,205727,227247,273984,283507,268124,206864,281619,258622,219153,257107,203873,251280,218554,274707,234439,235069,212199,255549,280086,292591,213042,209589,241505,267030,298968,218970,253242,295130,262531,279670,259407,280856,213217,289598,285181,242559,250546,297300,213934,299757,278105,294821,241329,271398,271775,226201,251997,233399,246882,298894,257204,219648,244832,240212,281945,280693,299372,200010,220375,242657,238732,273722,252092,217254,256180,229340,230438,267830,231472,205254,250989,289791,250909,230747,275592,297365,275945,265241,279334,290504,281768,251480,247932,273094,262066,253744,269958,277523,224790,232525,297224,223244,281741,205632,214585,218389,221015,298912,261983,200999,262001,215710,218639,222452,202467,283519,217028,268341,239005,267674,272330,266707,248805,214288,217425,201949,294081,280799,217759,270332,241838,268417,247528,209255,257279,269287,286016,257918,246129,298642,267203,243408,208647,277693,284839,214623,238649,230625,292503,293041,227436,245761,229141,251517,207949,237946,272607,219475,281359,228334,201291,274779,242641,226768,211261,269394,275791,224297,274071,217295,201289,242501,269465,289703,288586,239051,256788,252392,282644,223268,298012,275026,282792,285090,246656,284860,222196,262165,288988,249491,216732,251537,220260,262609,245722,292338,208579,231694,216456,226637,229303,244896,230870,223068,204754,291060,297610,202293,292055,251721,249809,206286,280928,237607,293896,212831,241320,209148,208456,250703,260478,299741,211694,217971,281755,289667,242739,262767,251069,263311,267389,239588,280839,255702,247321,240861,241253,242780,204464,205023,282680,290919,214886,237353,297297,284544,211206,213347,281151,221302,212905,231439,222485,225382,234385,291479,211632,215727,294706,256892,233384,230344,225960,248920,289479,256649,256398,215801,238269,280036,208891,223246,204379,227891,272788,233345,203348,250226,259024,278234,237476,217994,293034,291684,253994,232144,251429,225372,263449,269374,298042,255222,232956,251400,226523,243608,255128,207742,201914,257619,221052,268892,236156,283082,207657,274829,255459,283011,290400,212857,259870,252754,207582,226303,201619,213015,211988,259960,278596,217253,225485,232116,269334,213913,279368,271747,252715,270099,238124,203227,248513,206138,274348,260705,289289,206267,223494,298227,289041,204250,249530,269666,290689,248337,228653,298744,267692,247485,231658,228455,230688,213865,238578,279787,204086,204797,202339,219171,226056,243142,280791,220601,217687,246616,248384,277186,202202,247340,241901,202070,237585,260473,270892,286851,211860,222403,248764,243562,241240,201770,278128,290399,200486,259046,249733,266604,298336,288754,294078,257430,228013,225670,282538,281701,218331,267570,210731,274244,283537,239886,241368,281561,225952,250157,201256,235994,222126,259495,253523,210198,226849,215222,249821,282425,214959,208720,288691,236452,289568,276635,274334,295039,231406,246422,223834,212827,232881,231806,205952,239660,240541,211837,253748,285610,202198,278145,259089,254548,252079,219371,230674,242426,234783,285376,293600,258024,295850,239513,239039,281225,287697,222425,242781,288208,231750,278196,205677,248747,248873,209452,275699,214617,243085,229382,234671,227071,285531,205679,209891,215712,285919,202537,250355,260673,295481,267422,289975,274988,203538,211217,221494,204809,248912,294704,248878,260654,232275,234342,231963,297545,254085,216000,283015,236664,285790,243592,249622,251319,219793,293172,261967,224328,234399,269128,252974,266468,284773,261882,232711,270641,210092,266113,202263,206477,206340,256442,245323,228250,243609,296494,206229,289280,217665,224550,201222,239547,238443,211784,203430,200696,284344,266749,216717,211866,248970,289098,267775,204234,269649,268475,281019,224521,281107,224579,271192,294185,280195,294729,220923,212147,238849,248226,234373,229713,250565,270671,262847,226132,297223,206091,233039,290900,209923,276283,293823,274899,238856,273090,288936,238652,254152,239380,212855,282814,272454,244435,296621,218993,279044,202373,252548,293821,285797,296516,226059,299653,289907,286982,274592,283592,239753,267375,294058,200897,247886,234025,279765,259379,228576,235966,210884,224639,291144,252446,239255,247739,221770,268054,228535,210362,289641,226297,296824,258342,203820,264189,288270,293640,208066,234769,296899,219405,230889,210528,285507,243802,297011,249800,259626,286985,252561,273769,292816,293169,225423,289261,277017,224002,226954,231593,277376,266807,254127,203140,211661,281641,203118,265203,239338,214778,242612,231925,291214,204323,271562,255979,284349,211562,293766,201701,216962,252077,270209,264961,298375,262268,219256,270824,217828,202955,292552,278005,245374,238449,205044,222979,298516,242321,270361,232034,246474,288583,283153,261887,220435,251080,294197,203858,205914,211962,295073,292308,226114,270377,253487,297347,291524,295835,254166,209481,203603,284300,225631,216612,204178,290738,238960,283924,241699,276794,232489,267687,216264,233846,201596,258050,264487,243623,214536,295845,284481,233259,251985,277278,272216,260655,202437,281918,255002,206638,294649,239729,283919,264104,252528,287367,280525,261205,207078,210639,278838,224516,228904,262506,231600,255355,234335,228229,251526,201367,254179,287979,220471,271035,275530,286834,252056,266775,293958,261792,274212,255097,274345,234655,207153,244172,276527,203462,265334,299499,260850,235199,275509,291071,261279,212120,288216,238163,236223,297307,240408,245080,242179,279766,256965,245356,223899,227680,244756,208772,236158,257436,234831,279546,248784,298249,200055,287254,291571,251047,252298,205449,287383,249736,203440,283668,278852,230897,221878,223115,206863,295313,244572,211205,286467,233955,210024,214936,279472,253226,248900,210233,244561,293523,253791,224908,268074,280386,275803,269110,218823,237909,292925,221636,230394,258711,239309,205996,227907,272820,234115,290090,209427,285620,261923,203085,298183,242329,286525,299156,209266,274596,256784,254563,244601,259130,226168,296168,248030,231173,203514,208246,218636,249191,214016,264360,204624,231770,288595,291725,203168,204320,254609,262467,277119,246251,294158,281487,216220,211738,256638,250124,251150,201237,252852,261449,296787,216379,217086,230878,276330,248430,282118,231932,278095,296338,268508,238954,277656,227268,256007,282842,295044,240508,253903,221640,207673,264715,259662,229418,200612,259256,249910,259362,207501,282193,274217,230851,248870,278677,279184,204095,207339,266068,238025,272502,205391,203436,262512,272785,234829,250857,212203,280620,260580,227850,277768,292196,242184,251026,282281,290287,220452,261332,217314,239185,218099,203304,207378,259302,206124,296178,211068,283459,254700,295486,211255,227796,229140,253138,274023,204101,268550,234314,210028,294109,216531,288355,248284,213862,237737,209167,235633,272485,209080,276993,279896,210209,244224,245184,222994,253625,264311,217390,214011,233584,285019,250266,244969,289238,252970,296026,281672,230572,264579,253784,210666,272732,247704,248077,224861,257416,200530,239741,255297,228987,239447,252760,204773,215392,260949,278598,259511,224768,246687,223554,279461,295163,259005,277968,271707,207668,277652,275095,259341,245197,282192,295239,207593,232339,203143,209813,278387,299494,298878,270629,249934,290816,275036,269551,236022,202798,210788,285307,282022,212183,201091,216759,210911,207684,201052,201501,285785,229620,214006,292493,271037,200647,276306,220163,245733,210548,283578,211414,259858,217941,226738,277293,221907,273836,273091,225240,238320,246309,267150,274099,297170,255203,247607,252073,224844,206889,296898,241773,283343,255911,284318,287952,286189,252034,248949,265543,206182,266372,215087,221948,253278,281968,275669,274740,264619,216198,285756,257533,290648,212750,273143,238793,293309,274825,280270,224527,242424,277777,262211,272695,274287,253111,280159,202183,262021,236244,247837,263360,239195,269763,233783,272807,291730,277705,254765,269708,287671,244530,237743,248450,204976,296643,291132,227378,222238,248268,230724,240297,298829,249588,230407,267051,224386,247191,263120,249938,235896,267874,299465,258251,235955,279849,284502,208068,271669,240877,228385,244939,261745,273707,238099,243002,274475,289674,204305,226489,209235,257847,291639,256229,262985,219827,218276,244940,201568,265295,287890,245265,283435,253155,291702,226823,278622,206496,282150,276441,276402,204182,276731,201095,293856,203597,205231,283529,278281,214169,265624,234898,241564,282709,262877,269421,297635,202300,212188,282162,230305,208421,226061,218037,245963,264803,214322,263828,204005,205420,286461,263708,293738,244528,293599,212512,280975,294577,288109,291184,222029,220301,297694,288661,257583,297750,287072,204609,217601,254169,291016,268992,214598,296837,299359,283341,203791,252935,246174,218328,283945,288706,216016,219992,211350,204501,257438,274465,276130,241030,226786,226903,262902,284114,298734,270734,210875,221812,281270,288412,265463,228657,275618,220425,212633,215893,223186,273684,220139,218593,288780,232804,282773,237167,209173,282677,260011,223197,246255,293786,202460,274243,228203,224299,237033,281405,275923,243886,294246,220046,224855,223732,206370,255635,258902,210169,266607,249692,215347,233080,266197,204630,290071,238967,286521,251310,223652,272418,261585,263906,238131,240770,252849,201373,254173,246289,235102,202333,277862,267244,212597,200487,231712,261129,253509,228281,240808,295674,232563,273507,287426,272120,224742,280895,260497,284864,297581,203921,239909,254270,246281,233599,219573,214391,222820,257142,201430,274326,299678,214221,217863,286833,256941,206803,270119,223994,221214,229465,261036,216334,201584,249299,243921,216719,268451,247061,264977,230071,269415,279112,256166,229517,249589,229362,239624,274826,254809,236242,221984,225343,290409,255846,216040,270766,203353,217711,289500,244534,286819,223368,217435,210927,263907,251690,280997,202978,213693,275989,240664,295629,203880,271098,293348,230464,256876,251303,265313,232515,220473,219001,239424,216855,262798,275241,291956,210643,215777,292408,244894,296050,284081,201286,241569,245096,224419,245788,262084,252299,224748,284855,257100,207030,241072,205012,279730,217305,228715,238459,243847,257299,295623,299566,269556,261370,283289,239334,254452,228984,298753,230627,203852,221376,243475,277104,258141,283711,237008,265985,235800,281429,292247,273205,261591,294186,220177,224508,235554,213879,250987,219551,291632,245543,249415,206438,237834,293062,220623,206915,224881,208327,239603,209867,254015,293026,202944,299742,274350,283964,231360,278889,282539,295271,230253,282822,200038,246125,263813,251043,296287,220773,216672,224511,267486,203454,249962,204212,240483,204252,254101,249399,265591,278886,218889,251137,218814,202274,287314,229770,281753,250189,267126,281110,212897,209035,268948,236988,294424,278743,200732,226766,231771,289754,238301,223895,269709,202124,221247,250126,267548,296348,286204,205361,203490,228859,294725,224079,262667,279717,282062,259439,261740,208514,212532,264791,271538,226559,293047,273433,269187,267599,219137,231612,280330,270909,292230,205074,267088,268380,250393,250016,265784,218498,241059,272044,225709,251300,299340,237014,291983,283125,287041,230348,298032,214102,232744,207319,277903,267826,219754,261283,207613,266106,236212,295184,233696,213547,206493,272228,261383,214005,230328,272571,205698,289400,274323,277023,205149,242086,201795,290982,200095,287448,203542,230812,247794,286570,226662,251678,213170,227504,268324,264327,212156,235073,221325,221959,214964,240659,280314,287492,278449,255368,280103,267734,281657,263836,257466,283321,234704,268505,294314,254571,273108,288161,297064,220540,208184,241984,268974,201553,254648,265770,220025,232111,216592,241835,242986,244478,225221,263398,221038,284164,299111,292818,220810,216246,226233,212792,265850,209580,228616,208121,272959,272634,255580,222786,230610,255299,250496,259808,277444,266450,260126,277832,239427,280391,292854,225993,216852,235995,272434,279251,239610,222658,268154,289930,251472,296039,253770,260658,299621,236311,247348,245369,271915,229267,240244,263954,254318,226393,234124,255611,241278,240950,212860,284714,248809,221991,277247,253367,293247,299043,238212,221852,204313,291761,220956,263067,207176,235841,298712,265610,259801,202439,218589,296269,209103,208826,203851,229351,245058,221216,206790,256778,272130,263962,271296,254329,202867,218408,228621,235039,236802,258046,236091,222798,298764,258117,226902,294499,258748,280514,298253,219385,247058,224480,244441,250996,215031,254075,270633,255228,273349,219785,225299,223042,285244,257298,207450,273969,239383,272491,262382,281452,282418,268747,279581,229624,270456,227517,219316,299482,246252,221423,266646,292007,232991,228941,211950,285134,225356,224009,259709,271058,283849,294324,205127,269080,207624,238532,248607,242061,217664,221625,296498,256029,208835,202684,234741,294414,291151,214068,203782,298189,229565,270822,206749,245414,222447,210172,278939,225600,205475,239531,217318,278414,293438,265133,226679,289513,246412,260888,246177,247716,238385,228452,202529,273985,255563,286687,227216,212689,220988,266238,206455,263328,291930,282563,268330,206323,281743,261404,205479,269088,228907,223110,259277,205561,202559,228908,236368,273924,223521,269627,237750,270419,262694,294910,272778,245639,273285,284621,239067,210518,283844,277498,256306,273556,234136,217823,275976,209889,245013,232883,217733,226389,251120,206397,297026,226899,285781,277382,229219,287250,252867,206649,299039,222846,261965,254537,212022,214286,269841,254384,286092,208136,255969,285396,294413,290099,227197,206451,213876,237345,220258,292983,245085,298895,268230,253269,247893,261492,248688,205919,226119,298718,203665,288273,213977,219790,289321,233306,206912,233165,242161,293300,277433,233982,221256,251907,280909,208208,293184,217876,212135,234284,218606,265146,280050,246935,200295,234681,270610,284946,278410,273885,218275,245228,243411,200079,238352,232608,234010,253918,202981,215581,267021,240077,266205,283898,235040,229186,251128,221517,200223,247559,217181,283833,291345,240499,241291,274421,224312,291026,206667,245634,231070,205853,234458,259205,227541,209881,232931,248860,218238,290836,265363,263445,257461,216075,283214,219620,222159,259653,278069,219272,201047,246523,281050,284613,235632,257893,241276,286775,217347,285456,264620,286074,211907,256307,280604,252699,285485,236425,213457,208135,286549,250567,294298,221550,249017,252522,272655,295120,262383,210633,226213,232646,288460,279554,264854,229942,236120,285750,266040,248952,215491,272462,285369,271279,287038,200439,218624,220519,272940,203911,211577,218922,247846,227742,250636,260932,202714,219013,238399,274272,239150,285740,274255,261743,234424,292556,204132,259475,284010,228729,209926,287478,248977,237974,211153,283271,279459,254781,246185,238477,243432,257140,269822,205013,212548,208107,236423,287626,258351,270962,242790,270510,262633,278464,232134,220871,252264,208286,215729,248041,274717,262470,260814,274603,255274,282018,232838,283137,279637,284738,276601,284286,277884,224659,271673,209645,289944,252170,221777,220016,266286,221264,225142,279183,292602,280237,259129,229856,268766,200263,245557,264247,273269,295857,210057,269306,289039,277147,282628,267587,239702,234548,275621,203181,250556,225399,214862,291415,227985,232499,264444,243271,254125,249193,236832,272799,249941,275598,291698,298252,298352,244152,251221,291126,211156,229567,218057,255343,266962,215187,270469,277973,205671,213632,289309,233893,262528,279242,253998,274003,238439,246456,264172,210888,216770,226536,214210,222678,210002,273427,227327,246686,211867,213106,254474,235643,247647,240165,272063,245764,223476,285508,227118,224627,258044,200277,288836,225640,297940,219370,236637,222940,226924,201752,202242,285872,228143,200934,285611,216725,227829,220269,

In [59]:
partial_pull_query0 ="""SELECT C.SUBJECT_ID, C.HADM_ID, C.ICUSTAY_ID, C.ITEMID, C.CHARTTIME, C.VALUE, C.VALUENUM, C.VALUEUOM, II.INTIME, II.OUTTIME, II.LOS
FROM CHARTEVENTS C 
INNER JOIN ICUSTAYS II
ON (C.SUBJECT_ID=II.SUBJECT_ID 
    AND C.HADM_ID=II.HADM_ID 
    AND C.ICUSTAY_ID=II.ICUSTAY_ID)  
WHERE II.DBSOURCE='metavision' 
AND (II.FIRST_CAREUNIT='MICU' or II.FIRST_CAREUNIT='SICU') 
AND II.ICUSTAY_ID in (%s)""" % icustays

partial_pull_query1="""
   AND C.ITEMID in (%s)""" % list_of_ids

In [60]:
with closing(sql_connect()) as conn:
    sql= partial_pull_query0   + partial_pull_query1
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
#     chunk=[c[i].iloc[:,1:2] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
    chunk_new=[c[i] for i in range(0,len(c))]
    df_c = pd.concat(chunk_new)  # 进行 chunksize 返回值的转换 成 DataFrame，结束
#     df_c.to_pickle('df_c')
#     print(len(df))

In [61]:
df_c

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS
0,23,124321,234044,223761,2157-10-21 12:05:00,95.8,95.8,?F,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
1,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
2,23,124321,234044,220210,2157-10-21 12:06:00,14,14.0,insp/min,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
3,23,124321,234044,220277,2157-10-21 12:07:00,100,100.0,%,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
4,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
...,...,...,...,...,...,...,...,...,...,...,...
621,99999,113369,246512,223901,2118-01-01 08:16:00,Obeys Commands,6.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
622,99999,113369,246512,224027,2118-01-01 08:20:00,Warm,NaN,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
623,99999,113369,246512,220739,2118-01-01 12:31:00,Spontaneously,4.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
624,99999,113369,246512,223900,2118-01-01 12:31:00,Oriented,5.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
625,99999,113369,246512,223901,2118-01-01 12:31:00,Obeys Commands,6.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242

In [62]:
with closing(sql_connect()) as conn:
    sql= partial_pull_query0  + partial_pull_query1
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk_new=[c[i] for i in range(0,len(c))]  # 进行 chunksize 返回值的转换 成 DataFrame
    df_c_new = pd.concat(chunk_new).reset_index(drop=True)   # 进行 chunksize 返回值的转换 成 DataFrame，结束
    df_c_new.to_pickle('mimic_all_data')

In [63]:
mimic_all_data=pd.read_pickle('mimic_all_data')
mimic_all_data

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS
0,23,124321,234044,223761,2157-10-21 12:05:00,95.8,95.8,?F,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
1,23,124321,234044,220045,2157-10-21 12:06:00,77,77.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
2,23,124321,234044,220210,2157-10-21 12:06:00,14,14.0,insp/min,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
3,23,124321,234044,220277,2157-10-21 12:07:00,100,100.0,%,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
4,23,124321,234044,220045,2157-10-21 12:08:00,75,75.0,bpm,2157-10-21 11:40:38,2157-10-22 16:08:48,1.1862
...,...,...,...,...,...,...,...,...,...,...,...
10853621,99999,113369,246512,223901,2118-01-01 08:16:00,Obeys Commands,6.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
10853622,99999,113369,246512,224027,2118-01-01 08:20:00,Warm,NaN,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
10853623,99999,113369,246512,220739,2118-01-01 12:31:00,Spontaneously,4.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
10853624,99999,113369,246512,223900,2118-01-01 12:31:00,Oriented,5.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242
10853625,99999,113369,246512,223901,2118-01-01 12:31:00,Obeys Commands,6.0,None,2117-12-31 11:52:36,2118-01-01 14:51:27,1.1242

In [64]:
Age_Gender_subId

      subject_id  hadm_id  age  SUBJECT_ID GENDER
0              3   145834   76           3      M
1              9   150750   41           9      M
2             21   109451   87          21      M
3             38   185910   76          38      M
4             52   190797   39          52      M
...          ...      ...  ...         ...    ...
9168       99982   112748   66       99982      M
9169       99982   183791   66       99982      M
9170       99983   117390   79       99983      M
9171       99991   151118   47       99991      M
9172       99992   197084   66       99992      F

[9173 rows x 5 columns]

In [65]:
Age_Gender_subId['subject_id']

0           3
1           9
2          21
3          38
4          52
        ...
9168    99982
9169    99982
9170    99983
9171    99991
9172    99992
Name: subject_id, Length: 9173, dtype: int64

In [66]:
mimic_all_data['label_subid'] = mimic_all_data['SUBJECT_ID'].apply(lambda subject: 1 if int(subject) in Age_Gender_subId['subject_id'].values else 0 )
mimic_all_data_sub_id = mimic_all_data[mimic_all_data['label_subid']==1]
mimic_all_data_subid = mimic_all_data_sub_id[mimic_all_data_sub_id.columns[0:-1]]
mimic_all_data_subid

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS
1249,109,147469,253139,220045,2141-06-11 12:13:00,93,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
1250,109,147469,253139,220210,2141-06-11 12:13:00,12,12.0,insp/min,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
1251,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
1252,109,147469,253139,220045,2141-06-11 12:15:00,97,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
1253,109,147469,253139,220210,2141-06-11 12:15:00,12,12.0,insp/min,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
...,...,...,...,...,...,...,...,...,...,...,...
10853592,99992,197084,242052,224027,2144-07-27 12:00:00,Warm,NaN,None,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
10853593,99992,197084,242052,220739,2144-07-27 16:00:00,Spontaneously,4.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
10853594,99992,197084,242052,223791,2144-07-27 16:00:00,None,0.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
10853595,99992,197084,242052,223900,2144-07-27 16:00:00,Oriented,5.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
10853596,99992,197084,242052,223901,2144-07-27 16:00:00,Obeys Commands,6.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745

In [67]:
mimic_all_data_subid.to_csv('mimic_all_data_akf_subid.csv',index=False)

In [20]:
mimic_all_data_subid = pd.read_csv('mimic_all_data_akf_subid.csv')

E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
mimic_all_data_subid

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
1,109,147469,253139,220210,2141-06-11 12:13:00,12.0,12.0,insp/min,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
2,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
3,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
4,109,147469,253139,220210,2141-06-11 12:15:00,12.0,12.0,insp/min,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040
...,...,...,...,...,...,...,...,...,...,...,...
3967270,99992,197084,242052,224027,2144-07-27 12:00:00,Warm,NaN,NaN,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
3967271,99992,197084,242052,220739,2144-07-27 16:00:00,Spontaneously,4.0,NaN,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
3967272,99992,197084,242052,223791,2144-07-27 16:00:00,None,0.0,NaN,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
3967273,99992,197084,242052,223900,2144-07-27 16:00:00,Oriented,5.0,NaN,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745
3967274,99992,197084,242052,223901,2144-07-27 16:00:00,Obeys Commands,6.0,NaN,2144-07-25 18:04:42,2144-07-27 17:27:55,1.9745

In [22]:
ditems_query = """SELECT ITEMID, LABEL AS 'D.LABEL', UNITNAME AS 'D.UNITNAME' FROM D_ITEMS WHERE ITEMID IN (%s)"""

In [72]:
with closing(sql_connect()) as conn:
    # item_info = pd.read_sql_query(con=conn, sql=(ditems_query + str(tuple(list_of_ids))),cursor_arraysize=1000)
    item_info = pd.read_sql_query(con=conn, sql=(ditems_query %list_of_ids),chunksize=1000)
    c=[chunk for chunk in item_info]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk=[c[i] for i in range(0,len(c))]  # 取出所有块值
    item_info = pd.concat(chunk).reset_index(drop=True)   # 对所有块进行拼接，并重置索引
    item_info.to_pickle('item_info.plk')

In [73]:
item_info

    ITEMID                           D.LABEL D.UNITNAME
0   220045                        Heart Rate        bpm
1   220050  Arterial Blood Pressure systolic       mmHg
2   220052      Arterial Blood Pressure mean       mmHg
3   220210                  Respiratory Rate   insp/min
4   220224              Arterial O2 pressure       mmHg
..     ...                               ...        ...
65  227469                          Thrombin       None
66  227516                PO2 (Mixed Venous)       mmHg
67  227810                      ETT Re-taped       None
68  227881                       Pain (0-10)       None
69  228232             PAR-Oxygen saturation       None

[70 rows x 3 columns]

In [29]:
item_info = pd.read_pickle('item_info.plk')

In [74]:
result = mimic_all_data_subid

In [75]:
type(result)

pandas.core.frame.DataFrame

In [77]:
# 调整 两个表格 的 共有列 的数据类型，要一致。
# 调整 两个表格 的 共有列 的数据类型，要一致。
# 调整 两个表格 的 共有列 的数据类型，要一致。
result['ITEMID'] = result['ITEMID'].astype(int)
# 进行拼接
results=pd.merge(result, item_info, how='inner', on='ITEMID')

In [78]:
results

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS,D.LABEL,D.UNITNAME
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None

In [23]:
results.to_pickle('mimic_all_data_2')
all_data = pd.read_pickle('mimic_all_data_2')
all_data

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS,D.LABEL,D.UNITNAME
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None

In [24]:
all_data = pd.DataFrame(all_data)

In [25]:
all_data

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,INTIME,OUTTIME,LOS,D.LABEL,D.UNITNAME
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None

In [26]:
all_data1 = all_data.rename(columns={'SUBJECT_ID':'C.SUBJECT_ID',
                            'HADM_ID':'C.HADM_ID',
                            'ICUSTAY_ID':'C.ICUSTAY_ID',
                            'ITEMID':'D.ITEMID',
                            'CHARTTIME':'C.CHARTTIME',
                            'VALUE':'C.VALUE',
                            'VALUENUM':'C.VALUENUM',
                            'VALUEUOM':'C.VALUEUOM',
                            'INTIME':'II.INTIME',
                            'OUTTIME':'II.OUTTIME',
                            'LOS':'II.LOS',
                            'D.LABEL':'D.LABEL',
                            'D.UNITNAME':'D.UNITNAME'})

In [27]:
all_data1

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None

In [31]:
number_of_stays = len(all_data1['C.ICUSTAY_ID'].unique())
print ("There are %d rows in the data. " %len(all_data1))
print( "There are %d intensive care stays." %number_of_stays)

There are 3967275 rows in the data.
There are 5186 intensive care stays.

In [40]:
# all_data = all_data1
# 查看是否 是 时间模式
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3967275 entries, 0 to 3967274
Data columns (total 13 columns):
 #   Column        Dtype
---  ------        -----
 0   C.SUBJECT_ID  int64
 1   C.HADM_ID     int64
 2   C.ICUSTAY_ID  int64
 3   D.ITEMID      int32
 4   C.CHARTTIME   object
 5   C.VALUE       object
 6   C.VALUENUM    float64
 7   C.VALUEUOM    object
 8   II.INTIME     object
 9   II.OUTTIME    object
 10  II.LOS        float64
 11  D.LABEL       object
 12  D.UNITNAME    object
dtypes: float64(2), int32(1), int64(3), object(7)
memory usage: 408.6+ MB

In [50]:
all_data['C.CHARTTIME'] = all_data['C.CHARTTIME'].astype('datetime64[ns]') 
all_data['II.OUTTIME'] = all_data['II.OUTTIME'].astype('datetime64[ns]')
all_data['II.INTIME'] = all_data['II.INTIME'].astype('datetime64[ns]')

In [41]:
# CHARTTIME 是记录时间，OUTTIME是出院，INTIME是入院时间
# 取 小时
all_data['hrs_bd'] = (all_data['II.OUTTIME'] - all_data['C.CHARTTIME'])/pd.Timedelta('1h')
all_data['hrs_bd']

0           98.976944
1           98.943611
2           98.693611
3           98.426944
4           98.193611
              ...
3967270     30.248056
3967271    151.418889
3967272      7.281111
3967273      4.295556
3967274     73.979167
Name: hrs_bd, Length: 3967275, dtype: float64

In [51]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3967275 entries, 0 to 3967274
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   C.SUBJECT_ID  int64
 1   C.HADM_ID     int64
 2   C.ICUSTAY_ID  int64
 3   D.ITEMID      int32
 4   C.CHARTTIME   datetime64[ns]
 5   C.VALUE       object
 6   C.VALUENUM    float64
 7   C.VALUEUOM    object
 8   II.INTIME     datetime64[ns]
 9   II.OUTTIME    datetime64[ns]
 10  II.LOS        float64
 11  D.LABEL       object
 12  D.UNITNAME    object
 13  hrs_bd        float64
dtypes: datetime64[ns](3), float64(3), int32(1), int64(3), object(4)
memory usage: 438.9+ MB

In [42]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,hrs_bd
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.976944
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.943611
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.693611
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.426944
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.193611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None,30.248056
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None,151.418889
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None,7.281111
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None,4.295556
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None,73.979167

In [52]:
HR = 24  ## number of hours before start of ICUSTAY
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [53]:
HR = 48  ## number of hours before start of ICUSTAY
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [54]:
HR = 72  ## number of hours before start of ICUSTAY
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [55]:
all_data.to_csv('all_data_HR.csv')

In [56]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,hrs_bd,final_24hr,final_48hr,final_72hr
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.976944,1,1,1
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.943611,1,1,1
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.693611,1,1,1
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.426944,1,1,1
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.193611,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None,30.248056,0,0,0
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None,151.418889,0,0,0
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None,7.281111,1,1,1
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None,4.295556,0,1,1
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None,73.979167,0,0,0

In [74]:
all_data['C.SUBJECT_ID'].drop_duplicates()

0            109
1272         111
1296         124
2005         188
2602         222
           ...
1968272    96181
1972845    19987
1975039    27242
2039288    94817
2269981    77279
Name: C.SUBJECT_ID, Length: 3271, dtype: int64

In [57]:
data=%sql SELECT I.SUBJECT_ID, I.HADM_ID, I.ICUSTAY_ID, A.HOSPITAL_EXPIRE_FLAG, I.INTIME, I.OUTTIME, A.DEATHTIME \
FROM ICUSTAYS I \
INNER JOIN PATIENTS P \
ON I.SUBJECT_ID=P.SUBJECT_ID \
INNER JOIN ADMISSIONS A \
ON I.HADM_ID=A.HADM_ID \
WHERE (FIRST_CAREUNIT='MICU' or FIRST_CAREUNIT='SICU') AND DBSOURCE='METAVISION'

 * mysql://root:***@localhost/mimic
14595 rows affected.

In [61]:
gdata = data.DataFrame()
gdata

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,HOSPITAL_EXPIRE_FLAG,INTIME,OUTTIME,DEATHTIME
0,23,124321,234044,0,2157-10-21 11:40:38,2157-10-22 16:08:48,NaT
1,36,165660,241249,0,2134-05-12 06:52:47,2134-05-16 15:14:20,NaT
2,85,112077,291697,0,2167-07-25 18:50:37,2167-07-27 18:37:35,NaT
3,107,182383,252542,0,2121-11-30 19:24:56,2121-12-01 21:20:57,NaT
4,107,174162,264253,0,2122-05-14 19:38:27,2122-05-16 17:59:33,NaT
...,...,...,...,...,...,...,...
14590,99965,101083,257338,0,2191-07-13 19:40:34,2191-07-15 13:06:19,NaT
14591,99973,150202,275083,0,2180-11-27 02:30:43,2180-11-29 20:04:42,NaT
14592,99985,176670,279638,0,2181-01-29 05:33:34,2181-02-09 12:45:20,NaT
14593,99992,197084,242052,0,2144-07-25 18:04:42,2144-07-27 17:27:55,NaT
14594,99999,113369,246512,0,2117-12-31 11:52:36,2118-01-01 14:51:27,NaT

In [62]:
print ("There are: ")
print (str(len(gdata['SUBJECT_ID'].unique())) + " patients,")
print (str(len(gdata['HADM_ID'].unique())) + " hospitals admissions, and")
print (str(len(gdata['ICUSTAY_ID'].unique())) + " intensive care stays.")

There are:
11007 patients,
13748 hospitals admissions, and
14595 intensive care stays.

In [63]:
gdata['label_subid'] = gdata['SUBJECT_ID'].apply(lambda subject: 1 if int(subject) in Age_Gender_subId['subject_id'].values else 0 )
gdata = gdata[gdata['label_subid']==1]
gdata = gdata[gdata.columns[0:-1]]
gdata

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,HOSPITAL_EXPIRE_FLAG,INTIME,OUTTIME,DEATHTIME
5,109,147469,253139,0,2141-06-11 10:17:54,2141-06-15 15:11:37,NaT
6,109,131345,243978,0,2141-09-05 20:05:20,2141-09-06 19:41:08,NaT
7,109,139061,257358,0,2141-09-11 10:13:28,2141-09-12 16:53:07,NaT
8,109,172335,262652,0,2141-09-20 20:44:36,2141-09-22 21:44:50,NaT
9,109,126055,236124,0,2141-10-13 23:11:01,2141-10-25 20:49:04,NaT
...,...,...,...,...,...,...,...
14580,99923,164914,202505,0,2201-02-23 20:43:12,2201-02-24 14:42:49,NaT
14581,99923,192053,298857,0,2201-05-16 06:06:34,2201-05-18 11:45:27,NaT
14586,99939,159023,252442,0,2110-03-22 04:05:55,2110-03-25 01:10:10,NaT
14591,99973,150202,275083,0,2180-11-27 02:30:43,2180-11-29 20:04:42,NaT
14593,99992,197084,242052,0,2144-07-25 18:04:42,2144-07-27 17:27:55,NaT

In [95]:
gdata[gdata['HADM_ID']==189332]['DEATHTIME']

28   2142-08-30 15:20:00
Name: DEATHTIME, dtype: datetime64[ns]

In [97]:
pd.isnull(gdata[gdata['HADM_ID']==189332]['DEATHTIME'])

28    False
Name: DEATHTIME, dtype: bool

In [65]:
gdata['SUBJECT_ID'].drop_duplicates()

5          109
29         111
30         124
33         188
38         222
         ...
14577    99899
14580    99923
14586    99939
14591    99973
14593    99992
Name: SUBJECT_ID, Length: 3283, dtype: int64

In [100]:
AKI_Death_IDs = gdata[~pd.isnull(gdata['DEATHTIME'])]
AKI_Death_IDs

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,HOSPITAL_EXPIRE_FLAG,INTIME,OUTTIME,DEATHTIME
28,109,189332,287547,1,2142-08-28 19:49:27,2142-08-30 16:10:05,2142-08-30 15:20:00
29,111,155897,249202,1,2144-07-01 04:13:59,2144-07-01 17:56:31,2144-07-01 14:55:00
30,124,138376,256064,1,2166-01-09 13:05:18,2166-02-01 10:52:09,2166-02-01 06:55:00
36,188,132401,246866,1,2161-12-09 17:03:04,2161-12-17 21:04:31,2162-01-17 05:50:00
37,188,132401,292343,1,2162-01-10 16:36:40,2162-01-16 18:35:07,2162-01-17 05:50:00
...,...,...,...,...,...,...,...
14547,99768,140641,276070,1,2122-02-21 01:41:25,2122-02-23 11:14:00,2122-02-23 09:00:00
14555,99817,195557,245915,1,2166-11-07 21:48:41,2166-11-12 18:47:04,2166-11-20 12:00:00
14556,99817,195557,263780,1,2166-11-20 03:02:50,2166-11-21 01:26:07,2166-11-20 12:00:00
14559,99822,195871,297672,1,2197-07-04 14:15:08,2197-07-08 16:52:12,2197-07-08 13:15:00
14577,99899,188409,245756,1,2113-06-04 15:56:39,2113-06-13 19:23:51,2113-06-13 17:30:00

In [101]:
# AKI_Death_IDs.to_csv('AKI_Death_IDs.csv',index=False)

In [115]:
# MIMICIII数据库中AKI患者中，死亡的患者 ------------- 根据 subject_id
death_id = gdata[~pd.isnull(gdata['DEATHTIME'])]['SUBJECT_ID'].drop_duplicates()
death_id_list = list(death_id.values)
death_id_list

[109,
 111,
 124,
 188,
 305,
 975,
 1331,
 1578,
 1872,
 2338,
 2921,
 3513,
 3969,
 3977,
 4155,
 4555,
 4954,
 4962,
 5242,
 5453,
 5525,
 5913,
 6069,
 6258,
 6510,
 6697,
 7310,
 8209,
 8426,
 8674,
 8896,
 9008,
 9253,
 9592,
 10134,
 10302,
 10814,
 10954,
 11236,
 11288,
 11328,
 11559,
 11702,
 11809,
 12712,
 13123,
 13373,
 13401,
 13476,
 14316,
 15311,
 15644,
 15645,
 15754,
 15853,
 16258,
 16296,
 16463,
 16518,
 16976,
 17047,
 17122,
 17239,
 17692,
 18333,
 18461,
 18657,
 18848,
 18958,
 18982,
 19330,
 19398,
 19410,
 19754,
 19833,
 20133,
 20173,
 20536,
 20577,
 20598,
 20747,
 21139,
 21144,
 21202,
 21580,
 21706,
 21866,
 22851,
 23161,
 23503,
 23779,
 23933,
 23979,
 24170,
 24263,
 24276,
 24317,
 24402,
 25235,
 25256,
 25696,
 26208,
 26286,
 27002,
 27022,
 27094,
 27096,
 27121,
 27196,
 27404,
 27427,
 27455,
 27472,
 27504,
 27554,
 27597,
 27603,
 27639,
 27795,
 28073,
 28104,
 28109,
 28180,
 28190,
 28223,
 28462,
 28724,
 28819,
 28883,
 28936,
 29043,
 29070,
 29080,
 29137,
 29164,
 29350,
 29366,
 29430,
 29436,
 29444,
 29470,
 29487,
 29520,
 29544,
 29647,
 29765,
 29816,
 30117,
 30140,
 30184,
 30216,
 30256,
 30267,
 30284,
 30437,
 30601,
 30646,
 30659,
 30661,
 30678,
 30699,
 30887,
 31079,
 31134,
 31137,
 31203,
 31260,
 31381,
 31451,
 31605,
 31910,
 31916,
 32008,
 32060,
 32122,
 32277,
 32286,
 32326,
 32376,
 32410,
 32475,
 32497,
 32664,
 32714,
 32746,
 32805,
 40177,
 40253,
 40734,
 40822,
 41216,
 41284,
 41446,
 41517,
 41565,
 41607,
 42135,
 42141,
 42197,
 42251,
 42281,
 42364,
 42404,
 42474,
 42878,
 42904,
 43067,
 43126,
 43151,
 43215,
 43323,
 43501,
 43551,
 43563,
 43673,
 43735,
 43746,
 43937,
 43990,
 44018,
 44153,
 44266,
 44303,
 44486,
 44521,
 44593,
 44596,
 44890,
 44902,
 45269,
 45271,
 45313,
 45315,
 45381,
 45393,
 45509,
 45601,
 45767,
 45805,
 46034,
 46105,
 46251,
 46536,
 46589,
 46801,
 46815,
 46935,
 47045,
 47520,
 47568,
 47836,
 47912,
 47941,
 47955,
 48297,
 48632,
 48826,
 49018,
 49037,
 49053,
 49141,
 49265,
 49281,
 49395,
 49408,
 49562,
 49603,
 49631,
 49638,
 49785,
 49925,
 49970,
 50486,
 50487,
 50718,
 50899,
 50901,
 50939,
 51143,
 51277,
 51358,
 51482,
 51555,
 51771,
 51832,
 51871,
 51872,
 52010,
 52467,
 52593,
 52666,
 52777,
 52872,
 52919,
 53014,
 53048,
 53279,
 53314,
 53432,
 53534,
 53659,
 53715,
 53738,
 53858,
 54183,
 54193,
 54217,
 54247,
 54462,
 54604,
 54681,
 54689,
 54724,
 54739,
 54946,
 55083,
 55147,
 55328,
 55332,
 55441,
 55781,
 55944,
 55987,
 55992,
 56058,
 56112,
 56184,
 56390,
 56478,
 56484,
 56583,
 56648,
 56963,
 57074,
 57102,
 57202,
 57220,
 57271,
 57299,
 57437,
 57550,
 57568,
 57770,
 57920,
 57935,
 58046,
 58131,
 58154,
 58169,
 58460,
 58515,
 58773,
 59039,
 59067,
 59113,
 59222,
 59285,
 59618,
 59828,
 59877,
 59936,
 59999,
 60077,
 60104,
 60169,
 60244,
 60477,
 60762,
 60773,
 60843,
 60868,
 61005,
 61111,
 61652,
 61659,
 61667,
 61816,
 62033,
 62296,
 62298,
 62323,
 62345,
 62361,
 62383,
 62457,
 62594,
 62691,
 62782,
 62860,
 62887,
 62975,
 63039,
 63167,
 63176,
 63339,
 63676,
 63741,
 63935,
 63948,
 64008,
 64086,
 64136,
 64171,
 64416,
 64516,
 64572,
 64619,
 64884,
 64906,
 65002,
 65056,
 65268,
 65342,
 65407,
 65412,
 65513,
 65556,
 65582,
 65623,
 65916,
 66084,
 66307,
 66690,
 66710,
 66727,
 66745,
 66824,
 66825,
 67032,
 67050,
 67206,
 67281,
 67306,
 67358,
 67906,
 67917,
 68059,
 68140,
 68184,
 68245,
 68453,
 68579,
 68663,
 68713,
 69023,
 69146,
 69295,
 69338,
 69359,
 69370,
 69398,
 69512,
 69719,
 69776,
 69778,
 69904,
 69943,
 70220,
 70226,
 70261,
 70308,
 70447,
 70516,
 70723,
 70926,
 70954,
 71084,
 71174,
 71293,
 71380,
 71580,
 71612,
 71627,
 71689,
 71825,
 71884,
 71997,
 72300,
 72436,
 72930,
 73008,
 73038,
 73074,
 73211,
 73322,
 73409,
 73440,
 73755,
 73811,
 73832,
 73833,
 73888,
 73953,
 74217,
 74701,
 74816,
 74817,
 74869,
 74891,
 74937,
 74975,
 75251,
 75428,
 75454,
 75471,
 75510,
 75631,
 76182,
 76237,
 76282,
 76603,
 76695,
 76697,
 76736,
 76760,
 76984,
 77053,
 77149,
 77382,
 77484,
 77639,
 77689,
 78215,
 78222,
 78474,
 78522,
 78532,
 78956,
 79008,
 79222,
 79264,
 79390,
 79504,
 79539,
 79613,
 79709,
 79862,
 79877,
 79991,
 80174,
 80335,
 80342,
 80350,
 80518,
 80538,
 80560,
 80645,
 80658,
 80737,
 80805,
 80861,
 80927,
 80962,
 81193,
 81232,
 81271,
 81283,
 81328,
 81579,
 81608,
 81636,
 81660,
 81810,
 81918,
 82100,
 82148,
 82313,
 82393,
 82432,
 82465,
 82722,
 82769,
 82770,
 83151,
 83362,
 83678,
 83728,
 83749,
 83932,
 83982,
 84033,
 84142,
 84583,
 84585,
 84606,
 85024,
 85050,
 85160,
 85196,
 85264,
 85303,
 85327,
 85639,
 85747,
 86042,
 86155,
 86176,
 86317,
 86323,
 86415,
 86786,
 86832,
 86866,
 86961,
 87253,
 87352,
 87425,
 87515,
 87621,
 88098,
 88424,
 88587,
 88632,
 88883,
 89132,
 89356,
 89419,
 89449,
 89483,
 89487,
 89797,
 89815,
 89854,
 89901,
 89927,
 90008,
 90078,
 90115,
 90155,
 90165,
 90317,
 90362,
 91033,
 91242,
 91289,
 91295,
 91475,
 91558,
 91561,
 91614,
 91669,
 91788,
 91872,
 91881,
 91950,
 92074,
 92278,
 92326,
 92588,
 92933,
 93039,
 93058,
 93113,
 93147,
 93187,
 93196,
 93209,
 93321,
 93360,
 93596,
 93610,
 93893,
 93900,
 94008,
 94057,
 94341,
 94414,
 94617,
 94762,
 94799,
 94817,
 94828,
 94991,
 94997,
 95201,
 95387,
 95465,
 95516,
 95634,
 95776,
 95830,
 95933,
 96181,
 96199,
 96240,
 96633,
 96777,
 96882,
 97130,
 97132,
 97263,
 97353,
 97529,
 97531,
 98226,
 98299,
 98384,
 98435,
 98525,
 98582,
 98606,
 98753,
 98853,
 99096,
 99178,
 99197,
 99312,
 99333,
 99469,
 99715,
 99726,
 99740,
 99756,
 99768,
 99817,
 99822,
 99899]

In [116]:
# MIMICIII数据库中AKI患者中，死亡的患者 ------------- 根据 icustay_id
death_id = gdata[~pd.isnull(gdata['DEATHTIME'])]['ICUSTAY_ID'].drop_duplicates()
death_icustay_id = list(death_id.values)
death_icustay_id

[287547,
 249202,
 256064,
 246866,
 292343,
 217232,
 286445,
 297131,
 226178,
 250915,
 207975,
 261790,
 266774,
 211792,
 238824,
 249543,
 292192,
 293734,
 244615,
 232017,
 202641,
 239708,
 238742,
 209779,
 271998,
 252923,
 297262,
 282019,
 237253,
 227133,
 203723,
 265627,
 240660,
 293295,
 283569,
 266331,
 282172,
 276105,
 267968,
 223103,
 251280,
 218554,
 280086,
 292591,
 289598,
 297300,
 294821,
 205632,
 268341,
 243408,
 208647,
 284839,
 292503,
 293041,
 249491,
 216732,
 239588,
 282680,
 290919,
 211206,
 212905,
 248920,
 238269,
 204379,
 227891,
 272788,
 233345,
 217994,
 274829,
 255459,
 212857,
 259870,
 207582,
 259960,
 274348,
 226056,
 246616,
 237585,
 218331,
 267570,
 241368,
 250157,
 201256,
 239660,
 202198,
 278145,
 259089,
 287697,
 231750,
 285919,
 202537,
 285790,
 243592,
 261967,
 269128,
 239547,
 271192,
 294185,
 262847,
 226059,
 267375,
 294058,
 200897,
 279765,
 277376,
 292552,
 295073,
 255002,
 264104,
 261205,
 228229,
 254179,
 252056,
 266775,
 234655,
 251047,
 223115,
 205996,
 227907,
 272820,
 204320,
 294158,
 290287,
 220452,
 261332,
 217314,
 211068,
 283459,
 253138,
 244224,
 207668,
 245197,
 282192,
 295239,
 207593,
 232339,
 203143,
 298878,
 212183,
 207684,
 229620,
 211414,
 221907,
 247607,
 252073,
 266372,
 240297,
 235955,
 240877,
 291639,
 219827,
 283435,
 263828,
 204501,
 212633,
 209173,
 255635,
 200487,
 232563,
 280895,
 201430,
 299678,
 225343,
 290409,
 244534,
 265313,
 216855,
 291956,
 201286,
 245788,
 241072,
 257299,
 208327,
 220773,
 216672,
 249399,
 267088,
 241059,
 287041,
 261283,
 261383,
 205698,
 200095,
 255368,
 272959,
 230610,
 277444,
 260126,
 277832,
 239427,
 216852,
 239610,
 245369,
 271915,
 259801,
 208826,
 256778,
 228621,
 235039,
 236802,
 255228,
 299482,
 232991,
 203782,
 298189,
 202529,
 255563,
 228908,
 294910,
 273556,
 212022,
 214286,
 286092,
 294413,
 268230,
 203665,
 243411,
 232608,
 234458,
 265363,
 281050,
 217347,
 236120,
 285750,
 247846,
 277147,
 282628,
 264444,
 270779,
 273083,
 269773,
 281411,
 291665,
 254650,
 274731,
 281609,
 284274,
 231891,
 259964,
 256746,
 221684,
 246486,
 201370,
 293722,
 280297,
 224474,
 249718,
 269513,
 276772,
 217784,
 208256,
 280621,
 214300,
 241227,
 219569,
 246843,
 203453,
 221305,
 240010,
 267364,
 288420,
 235444,
 282530,
 293363,
 289236,
 224458,
 275018,
 236575,
 249237,
 212771,
 297806,
 230334,
 279243,
 227603,
 286750,
 227263,
 261312,
 292621,
 283590,
 254335,
 287616,
 269417,
 214355,
 294808,
 255601,
 223420,
 286301,
 283791,
 220415,
 209893,
 225940,
 256131,
 247304,
 277565,
 222450,
 291453,
 247379,
 229339,
 214841,
 216193,
 268399,
 223926,
 296335,
 239304,
 270704,
 236078,
 271305,
 282878,
 203784,
 261684,
 256896,
 229243,
 219302,
 291662,
 264815,
 223434,
 256347,
 287522,
 245919,
 209051,
 217175,
 279542,
 291932,
 228407,
 278148,
 240345,
 275854,
 281000,
 204262,
 228331,
 249725,
 268411,
 244629,
 252547,
 219878,
 207383,
 213667,
 294036,
 223885,
 259593,
 298314,
 245371,
 296651,
 292213,
 257480,
 267200,
 271722,
 208730,
 203105,
 290209,
 205262,
 275199,
 279178,
 290603,
 216206,
 218464,
 273929,
 298412,
 251798,
 228348,
 274058,
 225233,
 204280,
 217046,
 206830,
 251475,
 225421,
 213011,
 275118,
 268662,
 245481,
 273412,
 292053,
 271725,
 235741,
 207743,
 252297,
 268216,
 242783,
 260723,
 258471,
 247709,
 212875,
 270722,
 271161,
 208138,
 276538,
 225352,
 262913,
 234265,
 202445,
 258613,
 284116,
 265157,
 215361,
 217680,
 244853,
 204061,
 293063,
 261497,
 262870,
 223336,
 210207,
 221287,
 238073,
 214899,
 222096,
 202967,
 264138,
 297719,
 273761,
 205605,
 262573,
 283656,
 236607,
 231047,
 207253,
 210368,
 240084,
 233945,
 287562,
 241795,
 260605,
 209352,
 278567,
 253765,
 225955,
 299533,
 279514,
 292737,
 242709,
 275273,
 292635,
 292052,
 271888,
 234341,
 212469,
 253795,
 274256,
 229882,
 233547,
 208362,
 245558,
 260095,
 212969,
 261448,
 226453,
 201956,
 282778,
 216192,
 233057,
 205414,
 226179,
 257399,
 218888,
 259586,
 283386,
 203702,
 256172,
 229952,
 239563,
 264473,
 293956,
 294140,
 230023,
 249584,
 267047,
 214248,
 212767,
 254962,
 248208,
 213592,
 283178,
 272900,
 209695,
 267484,
 235941,
 266337,
 249143,
 284846,
 205240,
 209125,
 250060,
 208624,
 203860,
 224819,
 275427,
 291726,
 204724,
 212977,
 286107,
 271284,
 232140,
 265217,
 218351,
 264462,
 256837,
 208691,
 205747,
 297063,
 263969,
 200613,
 294941,
 252833,
 201220,
 257586,
 247544,
 246956,
 263714,
 230529,
 298534,
 234797,
 208400,
 217732,
 221430,
 210772,
 280802,
 242905,
 264814,
 262111,
 292027,
 230962,
 200976,
 203390,
 245303,
 216259,
 204799,
 276422,
 234940,
 291648,
 207620,
 240684,
 269632,
 220341,
 248714,
 297928,
 211778,
 295505,
 259756,
 282711,
 293158,
 255196,
 242598,
 297603,
 258375,
 278448,
 210159,
 231469,
 269681,
 256267,
 247311,
 272449,
 246840,
 255027,
 224593,
 290692,
 244207,
 210484,
 274422,
 241589,
 243505,
 299665,
 232761,
 277074,
 218243,
 286811,
 245250,
 235254,
 258504,
 205250,
 234733,
 296952,
 256401,
 252433,
 206402,
 295025,
 277936,
 255914,
 203714,
 281600,
 241261,
 247815,
 270730,
 278450,
 262235,
 274228,
 201143,
 233351,
 268580,
 290621,
 290347,
 214106,
 250307,
 269115,
 250666,
 270194,
 283448,
 270461,
 290244,
 273856,
 228239,
 275544,
 205440,
 248768,
 283102,
 276949,
 200024,
 267759,
 252497,
 239984,
 212477,
 240003,
 231263,
 201094,
 266993,
 293257,
 220157,
 210126,
 232750,
 294860,
 234918,
 244053,
 213637,
 287059,
 240761,
 230843,
 265516,
 202907,
 277529,
 262484,
 261365,
 241638,
 219114,
 213540,
 269416,
 256666,
 222828,
 253031,
 266481,
 207368,
 290501,
 207842,
 261709,
 209138,
 236522,
 277175,
 202506,
 263733,
 288674,
 280335,
 294421,
 279889,
 274764,
 273498,
 260457,
 273964,
 279496,
 237888,
 298526,
 270572,
 250218,
 224565,
 238802,
 279389,
 214980,
 224917,
 240007,
 241943,
 242603,
 299452,
 215306,
 242961,
 233187,
 297775,
 255182,
 280419,
 205508,
 210919,
 210248,
 268129,
 201653,
 289248,
 259634,
 250547,
 295560,
 216044,
 211890,
 206253,
 235657,
 260152,
 221382,
 210299,
 275799,
 251299,
 220538,
 262306,
 245641,
 219088,
 234734,
 261943,
 238162,
 291367,
 206692,
 238253,
 290007,
 293005,
 281090,
 267596,
 255110,
 296472,
 270804,
 278847,
 216785,
 208298,
 289716,
 265312,
 235165,
 270557,
 200231,
 229133,
 278451,
 205827,
 276817,
 238481,
 268434,
 242992,
 293261,
 250954,
 201303,
 205941,
 297111,
 272304,
 266642,
 253032,
 235216,
 285285,
 214245,
 209791,
 245825,
 290289,
 286298,
 278456,
 291124,
 267760,
 206986,
 244125,
 218379,
 220883,
 206771,
 209826,
 299655,
 223405,
 294561,
 202639,
 269435,
 275903,
 204020,
 231044,
 206577,
 297855,
 219031,
 280725,
 276939,
 236973,
 223097,
 231325,
 223181,
 278185,
 274441,
 208974,
 240673,
 249100,
 245121,
 287959,
 289123,
 286971,
 281889,
 287744,
 281309,
 288286,
 284620,
 210628,
 275112,
 248745,
 227942,
 226712,
 275570,
 254200,
 258359,
 230579,
 289587,
 228946,
 266622,
 239280,
 212253,
 200143,
 262017,
 215473,
 211830,
 210313,
 240638,
 218869,
 206536,
 274147,
 249785,
 222875,
 285799,
 235777,
 209124,
 219103,
 224721,
 251858,
 258676,
 266077,
 276749,
 221665,
 273698,
 243633,
 289040,
 217734,
 291228,
 223670,
 284640,
 242350,
 278787,
 264359,
 291967,
 292354,
 215125,
 283564,
 243733,
 294539,
 231840,
 297658,
 207506,
 233107,
 279537,
 203681,
 276912,
 269996,
 295189,
 210950,
 293902,
 285589,
 208940,
 204842,
 271338,
 224569,
 299571,
 269160,
 295834,
 276070,
 245915,
 263780,
 297672,
 245756]

In [119]:
len(death_icustay_id)

856

In [123]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,hrs_bd,final_24hr,final_48hr,final_72hr,Death
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.976944,1,1,1,0
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.943611,1,1,1,0
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.693611,1,1,1,0
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.426944,1,1,1,0
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.193611,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None,30.248056,0,0,0,0
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None,151.418889,0,0,0,0
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None,7.281111,1,1,1,0
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None,4.295556,0,1,1,1
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None,73.979167,0,0,0,0

In [121]:
# 根据ICUSTAY_ID  筛选死亡案例
all_data['Death'] = all_data['C.ICUSTAY_ID'].apply(lambda n:1 if int(n) in death_icustay_id else 0  )

In [120]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,II.LOS,D.LABEL,D.UNITNAME,hrs_bd,final_24hr,final_48hr,final_72hr,Death
0,109,147469,253139,220045,2141-06-11 12:13:00,93.0,93.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.976944,1,1,1,1
1,109,147469,253139,220045,2141-06-11 12:15:00,97.0,97.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.943611,1,1,1,1
2,109,147469,253139,220045,2141-06-11 12:30:00,105.0,105.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.693611,1,1,1,1
3,109,147469,253139,220045,2141-06-11 12:46:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.426944,1,1,1,1
4,109,147469,253139,220045,2141-06-11 13:00:00,84.0,84.0,bpm,2141-06-11 10:17:54,2141-06-15 15:11:37,4.2040,Heart Rate,bpm,98.193611,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967270,17190,106415,211988,227881,2107-12-20 10:26:00,10 / 10,NaN,NaN,2107-11-15 11:04:22,2107-12-21 16:40:53,36.2337,Pain (0-10),None,30.248056,0,0,0,0
3967271,40978,151069,222678,227881,2177-08-22 11:30:00,0 / 10,NaN,NaN,2177-08-11 18:45:34,2177-08-28 18:55:08,17.0066,Pain (0-10),None,151.418889,0,0,0,0
3967272,67675,125918,202918,227881,2183-10-08 10:43:00,0 / 10,NaN,NaN,2183-10-07 14:54:22,2183-10-08 17:59:52,1.1288,Pain (0-10),None,7.281111,1,1,1,0
3967273,73074,190770,252433,227881,2158-09-04 10:39:00,0 / 10,NaN,NaN,2158-09-02 20:10:38,2158-09-04 14:56:44,1.7820,Pain (0-10),None,4.295556,0,1,1,1
3967274,92525,141986,284380,227881,2142-12-10 10:44:00,4 / 10,NaN,NaN,2142-11-20 19:12:56,2142-12-13 12:42:45,22.7290,Pain (0-10),None,73.979167,0,0,0,0

In [124]:
all_data.to_csv('all_data_DeathOrNot.csv')

In [125]:
all_data['C.SUBJECT_ID'].drop_duplicates()

0            109
1272         111
1296         124
2005         188
2602         222
           ...
1968272    96181
1972845    19987
1975039    27242
2039288    94817
2269981    77279
Name: C.SUBJECT_ID, Length: 3271, dtype: int64

In [122]:
all_data['C.ICUSTAY_ID'].drop_duplicates()

0          253139
108        243978
134        257358
171        262652
219        236124
            ...
1974068    295845
1975039    285019
1998051    278458
2039288    210313
2269981    282730
Name: C.ICUSTAY_ID, Length: 5186, dtype: int64

death_id = all_data['C.SUBJECT_ID'].drop_duplicates()

death_id = list(death_id)
# 将列表中的数据 转换成 字符串
death_id=[str(i) for i in death_id]
# 加入 sql 语句中（取消[]）
death_id=','.join(death_id)
# 最后形式 '228232,223762,225309,227516,224829'
death_id

sql_query2 = """SELECT A.SUBJECT_ID, A.HADM_ID, A.DEATHTIME \
FROM ADMISSIONS A WHERE A.SUBJECT_ID in (%s) """ % death_id

with closing(sql_connect()) as conn:
    sql= sql_query2
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)

In [112]:
# pip show pandas

Name: pandas
Version: 1.3.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: e:\anaconda\lib\site-packages
Requires: python-dateutil, numpy, pytz
Required-by: statsmodels, seaborn, plotting, pgmpy, dtreeviz, df2onehot, causalnex, causal-learn, bnlearn
Note: you may need to restart the kernel to use updated packages.