In [1]:
import numpy as np
import pickle
import datetime
import pandas as pd
# 准备需要的包
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
import re
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from pylab import mpl
import seaborn as sns
sns.set_theme(style='darkgrid') # 设置风格使图标更美观
mpl.rcParams['font.sans-serif'] = ['SimHei'] # 指定字体雅黑，使图标可以显示中文
mpl.rcParams['axes.unicode_minus'] = False # 解决保存图像是负号'-'显示为方块的问题
import warnings
warnings.filterwarnings("ignore")  # silence warnings
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd
from collections import Counter
from sklearn.utils import shuffle

In [2]:
data = pd.read_csv('row_data.csv',index_col=0)
data

,C.SUBJECT_ID,ALT,AST,BUN,CL,GLU,HCT,Hemoglobin,INR,K,...,WBC,creatinine,gcs,hco3,hr,pain,resp,spo2,temp,Death
0,109,80.000000,136.000000,48.0,110.333333,101.666667,23.6,7.300000,2.200,4.875,...,3.900000,7.266667,4.944444,16.0,89.218750,6.375000,20.545455,99.343750,97.500000,1
1,111,45.000000,52.000000,30.5,125.500000,119.000000,40.4,13.100000,2.700,3.300,...,6.300000,1.000000,1.000000,13.0,90.875000,0.398556,18.090909,91.619450,35.450000,1
2,124,15.538333,18.670000,107.5,117.000000,118.000000,28.7,9.850000,1.200,4.300,...,8.450000,2.500000,3.476190,18.0,84.352941,2.000000,15.500000,99.656250,97.057143,1
3,188,41.000000,65.000000,29.5,116.500000,240.500000,28.1,9.200000,1.600,3.450,...,6.800000,2.150000,4.400000,14.5,67.809524,0.000000,17.190476,99.666667,97.620000,1
4,357,19.000000,20.000000,24.5,110.000000,143.000000,25.7,8.600000,1.400,3.700,...,2.350000,1.000000,2.030303,30.5,74.769231,1.182833,16.822222,100.000000,98.083333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,99817,51.500000,104.500000,52.0,108.000000,102.500000,28.2,9.600000,1.400,4.300,...,15.100000,3.350000,3.444444,16.5,103.448276,0.000000,21.409091,99.064516,37.120690,1
1914,99847,21.178333,21.240000,28.0,103.000000,169.500000,26.1,8.900000,1.300,4.100,...,0.800000,1.550000,5.000000,26.0,114.586207,6.833333,25.133333,96.896552,97.150000,0
1915,99863,24.870000,21.626667,13.5,105.000000,282.666667,47.7,15.900000,1.000,3.625,...,12.300000,1.000000,3.848485,24.0,110.074074,2.098229,34.740741,94.700000,99.528571,0
1916,99923,75.000000,125.000000,79.0,91.500000,115.500000,31.5,10.800000,1.200,4.800,...,8.100000,2.900000,5.000000,19.0,84.722222,0.000000,16.000000,97.500000,97.150000,0
1917,99939,18.000000,16.000000,142.5,105.000000,163.500000,22.4,7.866667,1.125,5.150,...,9.033333,19.650000,2.958333,20.5,83.535714,0.000000,15.222222,99.148148,97.807143,0

In [3]:
d1 = data[data['spo2']<90]
print(len(d1))
d1[d1['Death']==1]

39

,C.SUBJECT_ID,ALT,AST,BUN,CL,GLU,HCT,Hemoglobin,INR,K,...,WBC,creatinine,gcs,hco3,hr,pain,resp,spo2,temp,Death
60,7310,45.000000,57.000000,58.000000,115.000000,111.000000,35.000000,11.400000,1.500000,3.600000,...,9.500000,0.700000,3.500000,23.000000,103.461538,0.927063,26.933333,86.818182,96.633333,1
134,15645,46.000000,245.000000,25.000000,87.000000,629.000000,25.200000,6.300000,0.955000,5.000000,...,0.600000,2.850000,1.000000,24.000000,98.357143,1.622222,23.807692,55.692308,95.000000,1
161,19410,32.500000,65.500000,17.750000,109.500000,222.750000,34.960000,12.340000,1.950000,3.771429,...,9.820000,1.175000,4.333333,19.750000,112.919355,0.000000,20.012658,81.925373,98.988889,1
255,28104,18.866667,17.788333,29.000000,116.000000,244.000000,34.200000,10.700000,1.200000,3.200000,...,20.000000,3.300000,1.000000,17.000000,55.800000,0.000000,21.666667,88.250000,98.000000,1
298,29647,24.098333,19.386667,15.500000,115.000000,86.000000,35.700000,10.800000,1.400000,4.250000,...,15.700000,0.550000,3.000000,26.000000,96.681818,1.000000,21.750000,86.466667,96.200000,1
363,32122,17.000000,22.000000,11.500000,103.500000,128.500000,37.700000,10.700000,1.900000,3.250000,...,9.000000,3.950000,5.000000,27.000000,91.760000,1.500000,13.680000,67.000000,96.833333,1
385,32714,14.000000,24.000000,68.000000,96.000000,237.000000,28.450000,9.250000,1.200000,4.920000,...,1.800000,1.700000,3.555556,14.000000,112.655172,1.000000,23.535714,85.611111,96.600000,1
459,42878,5077.000000,4916.500000,23.500000,93.000000,414.400000,34.150000,11.580000,3.583333,3.620000,...,3.100000,2.500000,1.000000,19.200000,110.514286,1.264889,20.038462,85.000000,33.623846,1
486,44303,7100.600000,6553.600000,26.800000,103.600000,111.200000,42.775000,15.275000,8.950000,5.687500,...,18.500000,3.400000,1.000000,14.600000,101.489362,0.000000,26.802817,80.133333,101.963636,1
506,45269,582.500000,719.500000,35.333333,112.666667,94.666667,27.033333,8.566667,1.166667,4.033333,...,2.200000,2.066667,5.000000,21.666667,81.407407,4.500000,17.666667,87.655172,98.714286,1
527,45805,131.333333,184.666667,43.800000,99.800000,243.200000,29.775000,9.575000,1.166667,4.580000,...,20.750000,3.820000,1.238095,23.800000,90.065574,0.000000,22.425000,83.775862,100.291667,1
581,47955,3218.000000,9170.000000,45.000000,95.000000,147.000000,39.500000,12.200000,3.600000,5.900000,...,37.800000,3.600000,1.000000,15.000000,107.333333,0.000000,27.904762,82.909091,98.650000,1
724,53715,337.000000,1172.000000,36.000000,103.000000,85.000000,41.500000,13.600000,14.600000,4.850000,...,19.500000,2.200000,3.500000,12.000000,106.444444,1.666667,19.000000,79.666667,95.150000,1
778,55328,25.470000,21.270000,58.000000,116.000000,95.500000,35.450000,11.500000,2.100000,4.100000,...,5.800000,1.700000,1.000000,20.000000,109.150000,0.000000,19.222222,79.437500,96.100000,1
867,58773,95.666667,142.333333,47.000000,103.000000,89.333333,26.175000,8.642857,4.825000,4.185714,...,9.225000,3.033333,5.000000,18.333333,99.823529,7.333333,23.000000,83.950000,98.600000,1
914,60244,33.735000,23.445000,61.000000,98.000000,89.000000,31.700000,10.200000,0.948500,4.600000,...,12.200000,2.700000,4.666667,10.000000,82.428571,0.000000,19.285714,89.750000,95.880000,1
916,60477,1391.750000,4384.750000,20.500000,110.600000,110.200000,26.800000,9.240000,2.600000,4.209091,...,5.860000,2.100000,2.066667,13.400000,100.142857,0.750000,20.794872,89.733333,97.514286,1
1010,63948,40.000000,66.000000,25.000000,101.000000,532.000000,31.225000,10.433333,4.400000,3.050000,...,13.933333,1.800000,1.000000,20.000000,113.866667,0.843841,28.909091,54.666667,96.166667,1
1029,64572,548.000000,3517.000000,48.500000,102.500000,128.000000,32.850000,10.700000,2.200000,5.433333,...,21.150000,1.750000,4.916667,18.000000,72.304348,4.800000,21.230769,89.285714,95.675000,1
1040,65268,16.188333,18.675000,145.666667,115.750000,138.250000,22.750000,8.000000,2.000000,5.050000,...,24.600000,3.466667,3.666667,16.750000,106.200000,0.000000,20.500000,79.818182,76.683333,1
1050,65513,10.000000,14.000000,76.500000,106.500000,259.000000,45.300000,13.700000,1.566667,5.750000,...,18.450000,3.400000,4.422222,15.500000,130.292683,5.166667,25.733333,89.454545,73.520000,1
1172,70308,32.000000,84.000000,70.000000,111.000000,214.000000,28.100000,9.400000,2.000000,5.850000,...,23.300000,3.000000,1.000000,18.000000,64.388889,0.224194,13.388889,86.133333,33.900000,1
1266,74937,28.458333,21.625000,24.333333,110.333333,224.666667,56.114286,19.000000,1.866667,4.200000,...,52.800000,1.733333,2.200000,15.000000,129.410256,1.250000,20.812500,84.333333,96.733333,1
1282,75428,91.000000,123.000000,29.000000,100.000000,270.000000,27.400000,9.500000,1.900000,4.700000,...,18.100000,1.600000,1.000000,15.000000,103.428571,0.000000,16.600000,78.800000,33.500000,1
1456,82722,46.000000,65.000000,38.000000,109.750000,463.750000,27.700000,9.666667,2.480000,5.933333,...,22.916667,1.525000,2.833333,9.250000,97.450000,0.000000,21.516129,87.916667,94.300000,1
1647,90362,27.601667,23.071667,23.000000,110.000000,351.000000,53.100000,16.800000,1.700000,5.650000,...,31.000000,1.500000,1.000000,11.000000,81.833333,0.305151,24.562500,65.000000,69.873029,1
1755,94617,34.000000,85.000000,15.000000,104.000000,57.000000,39.700000,13.100000,1.900000,3.400000,...,1.900000,1.400000,1.000000,17.000000,119.166667,1.561500,22.394737,69.185185,101.400000,1

In [4]:
data.columns

Index(['C.SUBJECT_ID', 'ALT', 'AST', 'BUN', 'CL', 'GLU', 'HCT', 'Hemoglobin',
       'INR', 'K', 'Na', 'PLT', 'PT', 'PTT', 'TBIL', 'WBC', 'creatinine',
       'gcs', 'hco3', 'hr', 'pain', 'resp', 'spo2', 'temp', 'Death'],
      dtype='object')

In [5]:
data = data.rename(
    columns={
        'C.SUBJECT_ID':'SUBJECT_ID',
        'Hemoglobin':'HB',    #  Hemoglobin 改成了 HB   血红蛋白
        'creatinine':'SCr',   #  creatinine 改成了 SCr  血肌酐
        'gcs':'GCS',
        'hr':'HR',
        'hco3':'HCO3',
        'pain':'Pain',
        'resp':'Resp',
        'spo2':'Spo2',
        'temp':'Temp'
    }
)
data.columns

Index(['SUBJECT_ID', 'ALT', 'AST', 'BUN', 'CL', 'GLU', 'HCT', 'HB', 'INR', 'K',
       'Na', 'PLT', 'PT', 'PTT', 'TBIL', 'WBC', 'SCr', 'GCS', 'HCO3', 'HR',
       'Pain', 'Resp', 'Spo2', 'Temp', 'Death'],
      dtype='object')

In [6]:
# 通过公式：C（摄氏度）= (F（华氏度）-32)÷1.8来转换。
data['Temp'] = data['Temp'].apply(lambda x : (x-32)/1.8)
data['Temp'] = data['Temp'].apply(lambda x: None if x < 33 else x)

In [7]:
((data.isnull().sum())/data.shape[0]).sort_values(ascending=False).map(lambda x:"{:.2%}".format(x))

Temp          5.01%
SUBJECT_ID    0.00%
PTT           0.00%
Spo2          0.00%
Resp          0.00%
Pain          0.00%
HR            0.00%
HCO3          0.00%
GCS           0.00%
SCr           0.00%
WBC           0.00%
TBIL          0.00%
PT            0.00%
ALT           0.00%
PLT           0.00%
Na            0.00%
K             0.00%
INR           0.00%
HB            0.00%
HCT           0.00%
GLU           0.00%
CL            0.00%
BUN           0.00%
AST           0.00%
Death         0.00%
dtype: object

In [8]:
# 准备需要的包
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
# data = pd.read_excel(r"C:\Users\xw\Desktop\预测数据.xlsx")# 导入原始数据
# data = remcolumns(del_rows_df)
# data = del_rows(del_cols_df)
data = data

target = data['BUN']
# 这里的‘gcs’是指没有数据缺失的那一列的名称，选取一列即可
# 如果每一列的数据都缺失了，可以再创建一列都是1的完整数据并填写名称
features = data.iloc[:,1:-1]
#注意这里没有我没有取最后一列，可根据自己的情况改动

X_full, y_full = features,target
n_samples = X_full.shape[0] # 样本
n_features = X_full.shape[1] # 特征
print(n_samples)
print(n_features)
 
#首先确定我们希望放入的缺失值数据的比例，在这里我假设是50%，可以自己改动
rng = np.random.RandomState(0)
missing_rate = 0.5
n_missing_samples = int(np.floor(n_samples * n_features *missing_rate))
#np.floor  向下取整
#所有数据要随机遍布在数据集的各行各列当中，而一个确实的数据会需要一盒行索引和一个列索引
#如果能够创造一个数组，就可以利用索引来赋空值
 
X_missing_reg = X_full.copy()
# 查看缺失情况
missing = X_missing_reg .isna().sum()
missing = pd.DataFrame(data={'特征': missing.index,'缺失值个数':missing.values})
#通过~取反，选取不包含数字0的行
missing = missing[~missing['缺失值个数'].isin([0])]
# 缺失比例
missing['缺失比例'] =  missing['缺失值个数']/X_missing_reg .shape[0]
# print(missing['缺失比例'])
X_df = X_missing_reg.isnull().sum()
# 得出列名 缺失值最少的列名 到 缺失值最多的列名
colname = X_df[~X_df.isin([0])].sort_values().index.values

# 缺失值从小到大的特征顺序
sortindex = []
for i in colname:
    sortindex.append(X_missing_reg.columns.tolist().index(str(i)))
# 遍历所有的特征，从缺失最少的开始进行填补，每完成一次回归预测，就将预测值放到原本的特征矩阵中，再继续填补下一个特征
for i in sortindex:
    # 构建我们的新特征矩阵和新标签
    df = X_missing_reg  # 充当中间数据集
    fillc = df.iloc[:, i]  # 缺失值最少的特征列
    # 除了第 i 特征列，剩下的特征列+原有的完整标签 = 新的特征矩阵
    df = pd.concat([df.drop(df.columns[i], axis=1), pd.DataFrame(y_full)], axis=1)
    # 在新特征矩阵中，对含有缺失值的列，进行0的填补 ，没循环一次，用0填充的列越来越少
    df_0 = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0).fit_transform(df)
    # 找出训练集和测试集
    # 标签
    Ytrain = fillc[fillc.notnull()]  # 没有缺失的部分，就是 Y_train
    Ytest = fillc[fillc.isnull()]  # 不是需要Ytest的值，而是Ytest的索引
#     print(Ytrain,Ytest)
    # 特征矩阵
#     Xtrain = df_0[Ytrain.index, :]
    Xtrain = df_0[Ytrain.index]
    Xtest = df_0[Ytest.index, :]  # 有缺失值的特征情况
    rfc = RandomForestRegressor(n_estimators=100)  # 实例化
    rfc = rfc.fit(Xtrain, Ytrain)  # 训练
    Ypredict = rfc.predict(Xtest)  # 预测结果，就是要填补缺失值的值
    # 将填补好的特征返回到我们的原始的特征矩阵中
    X_missing_reg.loc[X_missing_reg.iloc[:, i].isnull(), X_missing_reg.columns[i]] = Ypredict
# 最后，再次查看缺失值是否全部被替换
missing2 = X_missing_reg.isna().sum()
missing2 = pd.DataFrame(data={'列名': missing2.index, '缺失值个数': missing2.values})
# 通过~取反，选取不包含数字0的行
missing3=missing2[~missing2['缺失值个数'].isin([0])]
print(missing2)
print(missing3)

1918
23
      列名  缺失值个数
0    ALT      0
1    AST      0
2    BUN      0
3     CL      0
4    GLU      0
5    HCT      0
6     HB      0
7    INR      0
8      K      0
9     Na      0
10   PLT      0
11    PT      0
12   PTT      0
13  TBIL      0
14   WBC      0
15   SCr      0
16   GCS      0
17  HCO3      0
18    HR      0
19  Pain      0
20  Resp      0
21  Spo2      0
22  Temp      0
Empty DataFrame
Columns: [列名, 缺失值个数]
Index: []

In [9]:
data = X_missing_reg

In [10]:
((data.isnull().sum())/data.shape[0]).sort_values(ascending=False).map(lambda x:"{:.2%}".format(x))

ALT     0.00%
PTT     0.00%
Spo2    0.00%
Resp    0.00%
Pain    0.00%
HR      0.00%
HCO3    0.00%
GCS     0.00%
SCr     0.00%
WBC     0.00%
TBIL    0.00%
PT      0.00%
AST     0.00%
PLT     0.00%
Na      0.00%
K       0.00%
INR     0.00%
HB      0.00%
HCT     0.00%
GLU     0.00%
CL      0.00%
BUN     0.00%
Temp    0.00%
dtype: object

In [11]:
# 绘制bun与death关系图
# plt.figure(dpi=1200)
g = sns.FacetGrid(data, hue = 'Death', height = 2.5, aspect=3)
g.map(sns.kdeplot, 'WBC', shade= True )
g.set(xlim=( data['WBC'].min(),data['WBC'].max()))
g.add_legend()
# plt.title('Age VS outcome')
# g.savefig('D:/Desktop/论文图/PDF/15个变量各自图/creatinine.pdf',dpi=1200)
plt.show()

KeyError: 'Death'

In [12]:
data['Temp'].min()

33.06318407086742

In [13]:
data['Temp'].max()

39.31944444444445

In [14]:
data.columns

Index(['ALT', 'AST', 'BUN', 'CL', 'GLU', 'HCT', 'HB', 'INR', 'K', 'Na', 'PLT',
       'PT', 'PTT', 'TBIL', 'WBC', 'SCr', 'GCS', 'HCO3', 'HR', 'Pain', 'Resp',
       'Spo2', 'Temp'],
      dtype='object')

In [15]:
data.to_csv('连续数据.csv')

In [16]:
# data_cut = pd.DataFrame()
data_cut = data

In [17]:
# 手动设置隔间
# 
bins = [0, 35, max(data['ALT'])] # 手动设置分箱间隔
data_cut['ALT'] = pd.cut(data['ALT'],bins,labels=False,include_lowest=True) # 使用cut离散化
# 
bins = [0, 35, max(data['AST'])] # 手动设置分箱间隔
data_cut['AST'] = pd.cut(data['AST'],bins,labels=False,include_lowest=True) # 使用cut离散化  
# 
bins = [0, 20, max(data['BUN'])] # 手动设置分箱间隔
data_cut['BUN'] = pd.cut(data['BUN'],bins,labels=False,include_lowest=True) # 使用cut离散化
# 
bins = [0, 98,106, max(data['CL'])] # 手动设置分箱间隔
data_cut['CL'] = pd.cut(data['CL'],bins,labels=False,include_lowest=True) # 使用cut离散化
# 
bins = [0, 70,105, max(data['GLU'])] # 手动设置分箱间隔
data_cut['GLU'] = pd.cut(data['GLU'],bins,labels=False,include_lowest=True) # 使用cut离散化


# INR 国际标准化比值     治疗范围（标准亮度疗法）  2.0–3.0   (可以以2.0,3.0为分界线)
bins = [0.8, 1.2, 2.0,3.0,max(data['INR'])] # 手动设置分箱间隔
data_cut['INR'] = pd.cut(data['INR'],bins,labels=False,include_lowest=True) # 使用cut离散化  【】
# K
bins = [0, 3.5, 5, max(data['K'])] # 手动设置分箱间隔
data_cut['K'] = pd.cut(data['K'],bins,labels=False,include_lowest=True) # 使用cut离散化
# Na
bins = [0, 136, 145, max(data['Na'])] # 手动设置分箱间隔
data_cut['Na'] = pd.cut(data['Na'],bins,labels=False,include_lowest=True) # 使用cut离散化
# PLT 
bins = [0, 150,350, max(data['PLT'])] # 手动设置分箱间隔
data_cut['PLT'] = pd.cut(data['PLT'],bins,labels=False,include_lowest=True) # 使用cut离散化
# PT
bins = [0, 11, 13, max(data['PT'])] # 手动设置分箱间隔
data_cut['PT'] = pd.cut(data['PT'],bins,labels=False,include_lowest=True) # 使用cut离散化
# PTT
bins = [0, 25, 35, max(data['PTT'])] # 手动设置分箱间隔
data_cut['PTT'] = pd.cut(data['PTT'],bins,labels=False,include_lowest=True) # 使用cut离散化
# TBIL
bins = [0, 0.3, 1.2, max(data['TBIL'])] # 手动设置分箱间隔
data_cut['TBIL'] = pd.cut(data['TBIL'],bins,labels=False,include_lowest=True) # 使用cut离散化
# WBC
bins = [0,4.5, 11, max(data['WBC'])] # 手动设置分箱间隔
data_cut['WBC'] = pd.cut(data['WBC'],bins,labels=False,include_lowest=True) # 使用cut离散化


# SCr
bins = [0,0.7, 1.3, max(data['SCr'])] # 手动设置分箱间隔
data_cut['SCr'] = pd.cut(data['SCr'],bins,labels=False,include_lowest=True) # 使用cut离散化


# GCS    还没想好怎么处理
bins = [1, 2, 3 ,4 ,5, max(data['GCS'])] # 手动设置分箱间隔
data_cut['GCS'] = pd.cut(data['GCS'],bins,labels=False,include_lowest=True) # 使用cut离散化
data_cut.head()



# HCO3
bins = [0,23, 28, max(data['HCO3'])] # 手动设置分箱间隔
data_cut['HCO3'] = pd.cut(data['HCO3'],bins,labels=False,include_lowest=True) # 使用cut离散化
# HR
bins = [0,60, 100, max(data['HR'])] # 手动设置分箱间隔
data_cut['HR'] = pd.cut(data['HR'],bins,labels=False,include_lowest=True) # 使用cut离散化
# Pain
bins = [0,1, 3.9999, 6.9999, max(data['Pain'])] # 手动设置分箱间隔
data_cut['Pain'] = pd.cut(data['Pain'],bins,labels=False,include_lowest=True) # 使用cut离散化
# Resp
bins = [0,12, 20, max(data['Resp'])] # 手动设置分箱间隔
data_cut['Resp'] = pd.cut(data['Resp'],bins,labels=False,include_lowest=True) # 使用cut离散化
# Spo2
bins = [0,90, max(data['Spo2'])] # 手动设置分箱间隔
data_cut['Spo2'] = pd.cut(data['Spo2'],bins,labels=False,include_lowest=True) # 使用cut离散化

# Temp  未发热、低热、中热、高热 
bins = [0, 37.3,  max(data['Temp'])] # 手动设置分箱间隔
data_cut['Temp'] = pd.cut(data['Temp'],bins,labels=False,include_lowest=True) # 使用cut离散化

data_cut.head()

,ALT,AST,BUN,CL,GLU,HCT,HB,INR,K,Na,...,TBIL,WBC,SCr,GCS,HCO3,HR,Pain,Resp,Spo2,Temp
0,1,1,1,2,1,23.6,7.30,2,1,1,...,1,0,2,3,0,1,2,2,1,0
1,1,1,1,2,2,40.4,13.10,2,0,2,...,1,1,1,0,0,1,0,1,1,0
2,0,0,1,2,2,28.7,9.85,0,1,1,...,1,1,2,2,0,1,1,1,1,0
3,1,1,1,2,2,28.1,9.20,1,0,1,...,2,1,2,3,0,1,0,1,1,0
4,0,0,1,2,2,25.7,8.60,1,1,2,...,0,0,1,1,2,1,1,1,1,0

# 男女不同的标准

In [18]:
age_Sex = pd.read_csv('FirstICU_MinAge.csv',index_col=0)
age_Sex = age_Sex[['C.SUBJECT_ID','age','GENDER']]
age_Sex = age_Sex.drop_duplicates()
age_Sex = age_Sex.reset_index(drop=True)
age_Sex

      C.SUBJECT_ID  age GENDER
0              109   20      F
1              111   69      F
2              124   75      M
3              188   55      M
4              222   69      F
...            ...  ...    ...
3266         99899   87      M
3267         99923   55      M
3268         99939   27      M
3269         99973   65      F
3270         99992   66      F

[3271 rows x 3 columns]

In [19]:
data_cut = data_cut.merge(age_Sex,left_on='SUBJECT_ID',right_on='C.SUBJECT_ID',how='left')
data_cut = data_cut.drop(columns='C.SUBJECT_ID')
data_cut

KeyError: 'SUBJECT_ID'

### 划分男女

In [20]:
data_cut['HCT']

0       23.6
1       40.4
2       28.7
3       28.1
4       25.7
        ...
1913    28.2
1914    26.1
1915    47.7
1916    31.5
1917    22.4
Name: HCT, Length: 1918, dtype: float64

In [ ]:
M_df = data_cut[data_cut['GENDER'] == 'M']
F_df = data_cut[data_cut['GENDER'] == 'F']
print(f'男性患者人数：${len(M_df)},女性患者人数：{len(F_df)}')

In [ ]:
type(M_df)

In [ ]:
#######  男
# 红细胞比容；(%)     男：41-51，女：36-47
bins = [0, 41,51, max(M_df['HCT'])] # 手动设置分箱间隔
M_df['HCT'] = pd.cut(M_df['HCT'],bins,labels=False,include_lowest=True) # 使用cut离散化

# HB  血红蛋白(g/dl)     男：14-17 g/dL， 女：12-16 g/dL
bins = [0, 14,17, max(M_df['HB'])] # 手动设置分箱间隔
M_df['HB'] = pd.cut(M_df['HB'],bins,labels=False,include_lowest=True) # 使用cut离散化

####### 女

bins = [0, 36,47, max(F_df['HCT'])] # 手动设置分箱间隔
F_df['HCT'] = pd.cut(F_df['HCT'],bins,labels=False,include_lowest=True) # 使用cut离散化

# HB  血红蛋白(g/dl)     男：14-17 g/dL， 女：12-16 g/dL
bins = [0, 12,16, max(F_df['HB'])] # 手动设置分箱间隔
F_df['HB'] = pd.cut(F_df['HB'],bins,labels=False,include_lowest=True) # 使用cut离散化

In [ ]:
df = pd.concat([M_df,F_df]).sort_index()
df

In [ ]:
df['GENDER'] = df['GENDER'].apply(lambda x: 1 if x == 'M' else 0)
df = df.rename(columns={
    'age':'Age',
    'GENDER':'Gender'
})
df

In [ ]:
df['Age'] = df['Age'].apply(lambda x : int(x/10))
df['Age']

In [ ]:
df

In [ ]:
death_df = pd.read_csv('row_data.csv',index_col=0)
death_df = death_df[['C.SUBJECT_ID','Death']]
dd = pd.merge(df,death_df,left_on='SUBJECT_ID',right_on='C.SUBJECT_ID',how='left')
dd = dd.drop(columns='C.SUBJECT_ID')
dd

In [ ]:
df = dd
df.to_csv('离散数据.csv',index_label=False)

In [ ]:
df = pd.read_csv('离散数据.csv')
df